In [1]:
import plotly.tools as tls

In [ ]:
# tls.embed('https://plot.ly/~chris/7365')

In [2]:
import pandas as pd
from sqlalchemy import create_engine # database connection
import datetime as dt
from IPython.display import display

import plotly.plotly as py # interactive graphing
from plotly.graph_objs import Bar, Scatter, Marker, Layout

In [90]:
display(pd.read_csv('/Users/kamakshibansal/Documents/allYears.csv', nrows=2).head())

,Year,Title_raw,Title_norm,Seniority,Category_id,longitude,Latitude,Location_id,Location_name,Salary_min,Salary_max,Salary_predicted,Company,Company_id,Company_normalised,Skills,Month
0,2015,Sheet Metal Assembly Operatives,Assembly Operative,NaN,Manufacturing Jobs,-1.53579,52.292,83162,"West Midlands,Warwickshire,Leamington Spa",20000.0,20000.0,14810.494,NaN,NaN,NaN,"Sheet Metal,Sheet Metal,Stainless Steel,Point ...",Jan
1,2015,WEB DEVELOPER,Web Developer,NaN,Part time Jobs,NaN,NaN,86383,NaN,10.0,15.0,10119.272,NaN,NaN,NaN,"PHP,Web Design,Web Development,Web Programming",Jan

In [103]:
!wc -l < /Users/kamakshibansal/Documents/allYears.csv

 69847432

In [98]:
# !wc -l < /Users/kamakshibansal/Documents/Belfast_copy_2.csv

      51

In [106]:
disk_engine = create_engine('sqlite:///316_8M.db') # Initializes database with filename 311_8M.db in current directory

In [114]:
start = dt.datetime.now()
chunksize = 50000
j = 0
index_start = 1

for df in pd.read_csv('/Users/kamakshibansal/Documents/allYears.csv', chunksize=chunksize, iterator=True, encoding='utf-8'):
# for df in pd.read_csv('/Users/kamakshibansal/Documents/Belfast_copy_2.csv', chunksize=chunksize, iterator=True, encoding='utf-8'):
        
    df = df.rename(columns={c: c.replace(' ', '') for c in df.columns}) # Remove spaces from columns
#     df.replace({'Category_id' : { '1': 'Accounting & Finance Jobs', '2': 'IT Jobs', '3': 'Sales Jobs', '4': 'Customer Services Jobs','5': 'Engineering Jobs', '6': 'HR & Recruitment Jobs','7': 'Healthcare & Nursing Jobs','8': 'Hospitality & Catering Jobs','9': "PR, Advertising & Marketing Jobs", '10': 'Logistics & Warehouse Jobs', '11': 'Teaching Jobs','12': 'Trade & Construction Jobs','13': 'Admin Jobs','14': 'Legal Jobs','15': 'Creative & Design Jobs','16': 'Graduate Jobs','17': 'Retail Jobs','18': 'Consultancy Jobs','19': 'Manufacturing Jobs','20': 'Scientific & QA Jobs','21': 'Social work Jobs' ,'22': 'Travel Jobs','23': "Energy, Oil & Gas Jobs",'24': 'Property Jobs','25': 'Charity & Voluntary Jobs','26': 'Domestic help & Cleaning Jobs','27': 'Maintenance Jobs','28': 'Part time Jobs','29': 'Other/General Jobs','176': 'Unknown' }})

#     df['CreatedDate'] = pd.to_datetime(df['CreatedDate']) # Convert to datetimes
#     df['ClosedDate'] = pd.to_datetime(df['ClosedDate'])

    df.index += index_start

    # Remove the un-interesting columns
    columns = ['Year', 'Title_raw', 'Title_norm', 'Category_id', 'Location_name',
               'Skills']

    for c in df.columns:
        if c not in columns:
            df = df.drop(c, axis=1)    

    
    j+=1
    print ('{} seconds: completed {} rows'.format((dt.datetime.now() - start).seconds, j*chunksize))

    df.to_sql('data11', disk_engine, if_exists='append')
    index_start = df.index[-1] + 1

0 seconds: completed 50000 rows
1 seconds: completed 100000 rows
2 seconds: completed 150000 rows
3 seconds: completed 200000 rows
4 seconds: completed 250000 rows
5 seconds: completed 300000 rows
6 seconds: completed 350000 rows
7 seconds: completed 400000 rows
8 seconds: completed 450000 rows
9 seconds: completed 500000 rows
10 seconds: completed 550000 rows
11 seconds: completed 600000 rows
12 seconds: completed 650000 rows
13 seconds: completed 700000 rows
14 seconds: completed 750000 rows
15 seconds: completed 800000 rows
16 seconds: completed 850000 rows
17 seconds: completed 900000 rows
18 seconds: completed 950000 rows
19 seconds: completed 1000000 rows
20 seconds: completed 1050000 rows
21 seconds: completed 1100000 rows
22 seconds: completed 1150000 rows
23 seconds: completed 1200000 rows
24 seconds: completed 1250000 rows
25 seconds: completed 1300000 rows
26 seconds: completed 1350000 rows
27 seconds: completed 1400000 rows
28 seconds: completed 1450000 rows
29 seconds: completed 1500000 rows
30 seconds: completed 1550000 rows
31 seconds: completed 1600000 rows
32 seconds: completed 1650000 rows
33 seconds: completed 1700000 rows
34 seconds: completed 1750000 rows
35 seconds: completed 1800000 rows
36 seconds: completed 1850000 rows
37 seconds: completed 1900000 rows
38 seconds: completed 1950000 rows
39 seconds: completed 2000000 rows
40 seconds: completed 2050000 rows
41 seconds: completed 2100000 rows
42 seconds: completed 2150000 rows
43 seconds: completed 2200000 rows
44 seconds: completed 2250000 rows
45 seconds: completed 2300000 rows
46 seconds: completed 2350000 rows
47 seconds: completed 2400000 rows
48 seconds: completed 2450000 rows
49 seconds: completed 2500000 rows
51 seconds: completed 2550000 rows
51 seconds: completed 2600000 rows
53 seconds: completed 2650000 rows
54 seconds: completed 2700000 rows
55 seconds: completed 2750000 rows
56 seconds: completed 2800000 rows
57 seconds: completed 2850000 rows
58 seconds: completed 2900000 rows
59 seconds: completed 2950000 rows
60 seconds: completed 3000000 rows
61 seconds: completed 3050000 rows
62 seconds: completed 3100000 rows
63 seconds: completed 3150000 rows
64 seconds: completed 3200000 rows
65 seconds: completed 3250000 rows
66 seconds: completed 3300000 rows
67 seconds: completed 3350000 rows
68 seconds: completed 3400000 rows
68 seconds: completed 3450000 rows
69 seconds: completed 3500000 rows
70 seconds: completed 3550000 rows
71 seconds: completed 3600000 rows
72 seconds: completed 3650000 rows
73 seconds: completed 3700000 rows
74 seconds: completed 3750000 rows
75 seconds: completed 3800000 rows
76 seconds: completed 3850000 rows
77 seconds: completed 3900000 rows
78 seconds: completed 3950000 rows
79 seconds: completed 4000000 rows
80 seconds: completed 4050000 rows
81 seconds: completed 4100000 rows
82 seconds: completed 4150000 rows
83 seconds: completed 4200000 rows
84 seconds: completed 4250000 rows
85 seconds: completed 4300000 rows
86 seconds: completed 4350000 rows
87 seconds: completed 4400000 rows
88 seconds: completed 4450000 rows
89 seconds: completed 4500000 rows
90 seconds: completed 4550000 rows
90 seconds: completed 4600000 rows
91 seconds: completed 4650000 rows
92 seconds: completed 4700000 rows
93 seconds: completed 4750000 rows
94 seconds: completed 4800000 rows
95 seconds: completed 4850000 rows
96 seconds: completed 4900000 rows
97 seconds: completed 4950000 rows
98 seconds: completed 5000000 rows
99 seconds: completed 5050000 rows
100 seconds: completed 5100000 rows
101 seconds: completed 5150000 rows
102 seconds: completed 5200000 rows
103 seconds: completed 5250000 rows
104 seconds: completed 5300000 rows
105 seconds: completed 5350000 rows
106 seconds: completed 5400000 rows
106 seconds: completed 5450000 rows
107 seconds: completed 5500000 rows
108 seconds: completed 5550000 rows
109 seconds: completed 5600000 rows
110 seconds: completed 5650000 rows
111 seconds: completed 5700000 rows
112 seconds: completed 5750000 rows
113 seconds: completed 5800000 rows
114 seconds: completed 5850000 rows
115 seconds: completed 5900000 rows
116 seconds: completed 5950000 rows
117 seconds: completed 6000000 rows
118 seconds: completed 6050000 rows
119 seconds: completed 6100000 rows
120 seconds: completed 6150000 rows
121 seconds: completed 6200000 rows
122 seconds: completed 6250000 rows
123 seconds: completed 6300000 rows
124 seconds: completed 6350000 rows
125 seconds: completed 6400000 rows
126 seconds: completed 6450000 rows
126 seconds: completed 6500000 rows
127 seconds: completed 6550000 rows
128 seconds: completed 6600000 rows
129 seconds: completed 6650000 rows
130 seconds: completed 6700000 rows
131 seconds: completed 6750000 rows
132 seconds: completed 6800000 rows
133 seconds: completed 6850000 rows
134 seconds: completed 6900000 rows
135 seconds: completed 6950000 rows
136 seconds: completed 7000000 rows
137 seconds: completed 7050000 rows
138 seconds: completed 7100000 rows
139 seconds: completed 7150000 rows
140 seconds: completed 7200000 rows
141 seconds: completed 7250000 rows
142 seconds: completed 7300000 rows
142 seconds: completed 7350000 rows
143 seconds: completed 7400000 rows
144 seconds: completed 7450000 rows
145 seconds: completed 7500000 rows
146 seconds: completed 7550000 rows
147 seconds: completed 7600000 rows
148 seconds: completed 7650000 rows
149 seconds: completed 7700000 rows
150 seconds: completed 7750000 rows
151 seconds: completed 7800000 rows
152 seconds: completed 7850000 rows
153 seconds: completed 7900000 rows
154 seconds: completed 7950000 rows
155 seconds: completed 8000000 rows
155 seconds: completed 8050000 rows
156 seconds: completed 8100000 rows
157 seconds: completed 8150000 rows
158 seconds: completed 8200000 rows
159 seconds: completed 8250000 rows
160 seconds: completed 8300000 rows
161 seconds: completed 8350000 rows
162 seconds: completed 8400000 rows
163 seconds: completed 8450000 rows
164 seconds: completed 8500000 rows
165 seconds: completed 8550000 rows
166 seconds: completed 8600000 rows
167 seconds: completed 8650000 rows
168 seconds: completed 8700000 rows
169 seconds: completed 8750000 rows
169 seconds: completed 8800000 rows
170 seconds: completed 8850000 rows
171 seconds: completed 8900000 rows
172 seconds: completed 8950000 rows
173 seconds: completed 9000000 rows
174 seconds: completed 9050000 rows
175 seconds: completed 9100000 rows
176 seconds: completed 9150000 rows
177 seconds: completed 9200000 rows
178 seconds: completed 9250000 rows
179 seconds: completed 9300000 rows
180 seconds: completed 9350000 rows
181 seconds: completed 9400000 rows
182 seconds: completed 9450000 rows
183 seconds: completed 9500000 rows
183 seconds: completed 9550000 rows
184 seconds: completed 9600000 rows
185 seconds: completed 9650000 rows
186 seconds: completed 9700000 rows
187 seconds: completed 9750000 rows
188 seconds: completed 9800000 rows
189 seconds: completed 9850000 rows
190 seconds: completed 9900000 rows
191 seconds: completed 9950000 rows
192 seconds: completed 10000000 rows
193 seconds: completed 10050000 rows
194 seconds: completed 10100000 rows
195 seconds: completed 10150000 rows
196 seconds: completed 10200000 rows
197 seconds: completed 10250000 rows
198 seconds: completed 10300000 rows
198 seconds: completed 10350000 rows
199 seconds: completed 10400000 rows
200 seconds: completed 10450000 rows
201 seconds: completed 10500000 rows
202 seconds: completed 10550000 rows
203 seconds: completed 10600000 rows
204 seconds: completed 10650000 rows
205 seconds: completed 10700000 rows
206 seconds: completed 10750000 rows
207 seconds: completed 10800000 rows
208 seconds: completed 10850000 rows
209 seconds: completed 10900000 rows
210 seconds: completed 10950000 rows
211 seconds: completed 11000000 rows
212 seconds: completed 11050000 rows
213 seconds: completed 11100000 rows
214 seconds: completed 11150000 rows
215 seconds: completed 11200000 rows
215 seconds: completed 11250000 rows
216 seconds: completed 11300000 rows
217 seconds: completed 11350000 rows
218 seconds: completed 11400000 rows
219 seconds: completed 11450000 rows
220 seconds: completed 11500000 rows
221 seconds: completed 11550000 rows

222 seconds: completed 11600000 rows
223 seconds: completed 11650000 rows
224 seconds: completed 11700000 rows
225 seconds: completed 11750000 rows
226 seconds: completed 11800000 rows
227 seconds: completed 11850000 rows
228 seconds: completed 11900000 rows
229 seconds: completed 11950000 rows
230 seconds: completed 12000000 rows
231 seconds: completed 12050000 rows
232 seconds: completed 12100000 rows
233 seconds: completed 12150000 rows
235 seconds: completed 12200000 rows
236 seconds: completed 12250000 rows
237 seconds: completed 12300000 rows
238 seconds: completed 12350000 rows
239 seconds: completed 12400000 rows
240 seconds: completed 12450000 rows
241 seconds: completed 12500000 rows
242 seconds: completed 12550000 rows
243 seconds: completed 12600000 rows
244 seconds: completed 12650000 rows
244 seconds: completed 12700000 rows
245 seconds: completed 12750000 rows
246 seconds: completed 12800000 rows
247 seconds: completed 12850000 rows
248 seconds: completed 12900000 rows
249 seconds: completed 12950000 rows
250 seconds: completed 13000000 rows
251 seconds: completed 13050000 rows
252 seconds: completed 13100000 rows
253 seconds: completed 13150000 rows
254 seconds: completed 13200000 rows
255 seconds: completed 13250000 rows
255 seconds: completed 13300000 rows
256 seconds: completed 13350000 rows
257 seconds: completed 13400000 rows
258 seconds: completed 13450000 rows
259 seconds: completed 13500000 rows
260 seconds: completed 13550000 rows
261 seconds: completed 13600000 rows
262 seconds: completed 13650000 rows
263 seconds: completed 13700000 rows
264 seconds: completed 13750000 rows
265 seconds: completed 13800000 rows
266 seconds: completed 13850000 rows
266 seconds: completed 13900000 rows
267 seconds: completed 13950000 rows
268 seconds: completed 14000000 rows
269 seconds: completed 14050000 rows
270 seconds: completed 14100000 rows
271 seconds: completed 14150000 rows
272 seconds: completed 14200000 rows
273 seconds: completed 14250000 rows
274 seconds: completed 14300000 rows
275 seconds: completed 14350000 rows
276 seconds: completed 14400000 rows
277 seconds: completed 14450000 rows
278 seconds: completed 14500000 rows
279 seconds: completed 14550000 rows
280 seconds: completed 14600000 rows
281 seconds: completed 14650000 rows
282 seconds: completed 14700000 rows
283 seconds: completed 14750000 rows
284 seconds: completed 14800000 rows
285 seconds: completed 14850000 rows
286 seconds: completed 14900000 rows
287 seconds: completed 14950000 rows
288 seconds: completed 15000000 rows
288 seconds: completed 15050000 rows
289 seconds: completed 15100000 rows
290 seconds: completed 15150000 rows
291 seconds: completed 15200000 rows
292 seconds: completed 15250000 rows
293 seconds: completed 15300000 rows
294 seconds: completed 15350000 rows
295 seconds: completed 15400000 rows
296 seconds: completed 15450000 rows
297 seconds: completed 15500000 rows
298 seconds: completed 15550000 rows
299 seconds: completed 15600000 rows
300 seconds: completed 15650000 rows
301 seconds: completed 15700000 rows
302 seconds: completed 15750000 rows
303 seconds: completed 15800000 rows
304 seconds: completed 15850000 rows
305 seconds: completed 15900000 rows
306 seconds: completed 15950000 rows
307 seconds: completed 16000000 rows
307 seconds: completed 16050000 rows
308 seconds: completed 16100000 rows
309 seconds: completed 16150000 rows
310 seconds: completed 16200000 rows
311 seconds: completed 16250000 rows
312 seconds: completed 16300000 rows
313 seconds: completed 16350000 rows
314 seconds: completed 16400000 rows
315 seconds: completed 16450000 rows
316 seconds: completed 16500000 rows
317 seconds: completed 16550000 rows
318 seconds: completed 16600000 rows
319 seconds: completed 16650000 rows
320 seconds: completed 16700000 rows
321 seconds: completed 16750000 rows
322 seconds: completed 16800000 rows
322 seconds: completed 16850000 rows
323 seconds: completed 16900000 rows
324 seconds: completed 16950000 rows
325 seconds: completed 17000000 rows
326 seconds: completed 17050000 rows
327 seconds: completed 17100000 rows
328 seconds: completed 17150000 rows
329 seconds: completed 17200000 rows
330 seconds: completed 17250000 rows
331 seconds: completed 17300000 rows
332 seconds: completed 17350000 rows
333 seconds: completed 17400000 rows
334 seconds: completed 17450000 rows
335 seconds: completed 17500000 rows
336 seconds: completed 17550000 rows
337 seconds: completed 17600000 rows
338 seconds: completed 17650000 rows
338 seconds: completed 17700000 rows
339 seconds: completed 17750000 rows
340 seconds: completed 17800000 rows
341 seconds: completed 17850000 rows
342 seconds: completed 17900000 rows
343 seconds: completed 17950000 rows
344 seconds: completed 18000000 rows
345 seconds: completed 18050000 rows
346 seconds: completed 18100000 rows
347 seconds: completed 18150000 rows
348 seconds: completed 18200000 rows
349 seconds: completed 18250000 rows
350 seconds: completed 18300000 rows
351 seconds: completed 18350000 rows
352 seconds: completed 18400000 rows
353 seconds: completed 18450000 rows
354 seconds: completed 18500000 rows
355 seconds: completed 18550000 rows
356 seconds: completed 18600000 rows
357 seconds: completed 18650000 rows
358 seconds: completed 18700000 rows
359 seconds: completed 18750000 rows
360 seconds: completed 18800000 rows
361 seconds: completed 18850000 rows
362 seconds: completed 18900000 rows
363 seconds: completed 18950000 rows
364 seconds: completed 19000000 rows
365 seconds: completed 19050000 rows
366 seconds: completed 19100000 rows
367 seconds: completed 19150000 rows
368 seconds: completed 19200000 rows
369 seconds: completed 19250000 rows
370 seconds: completed 19300000 rows
371 seconds: completed 19350000 rows
372 seconds: completed 19400000 rows
373 seconds: completed 19450000 rows
375 seconds: completed 19500000 rows
375 seconds: completed 19550000 rows
376 seconds: completed 19600000 rows
377 seconds: completed 19650000 rows
378 seconds: completed 19700000 rows
379 seconds: completed 19750000 rows
380 seconds: completed 19800000 rows
381 seconds: completed 19850000 rows
382 seconds: completed 19900000 rows
383 seconds: completed 19950000 rows
384 seconds: completed 20000000 rows
385 seconds: completed 20050000 rows
386 seconds: completed 20100000 rows
387 seconds: completed 20150000 rows
388 seconds: completed 20200000 rows
389 seconds: completed 20250000 rows
390 seconds: completed 20300000 rows
391 seconds: completed 20350000 rows
392 seconds: completed 20400000 rows
393 seconds: completed 20450000 rows
394 seconds: completed 20500000 rows
395 seconds: completed 20550000 rows
396 seconds: completed 20600000 rows
397 seconds: completed 20650000 rows
398 seconds: completed 20700000 rows
399 seconds: completed 20750000 rows
400 seconds: completed 20800000 rows
401 seconds: completed 20850000 rows
401 seconds: completed 20900000 rows
402 seconds: completed 20950000 rows
403 seconds: completed 21000000 rows
404 seconds: completed 21050000 rows
405 seconds: completed 21100000 rows
406 seconds: completed 21150000 rows
407 seconds: completed 21200000 rows
409 seconds: completed 21250000 rows
410 seconds: completed 21300000 rows
411 seconds: completed 21350000 rows
412 seconds: completed 21400000 rows
413 seconds: completed 21450000 rows
414 seconds: completed 21500000 rows
415 seconds: completed 21550000 rows
416 seconds: completed 21600000 rows
417 seconds: completed 21650000 rows
418 seconds: completed 21700000 rows
419 seconds: completed 21750000 rows
420 seconds: completed 21800000 rows
420 seconds: completed 21850000 rows
421 seconds: completed 21900000 rows
422 seconds: completed 21950000 rows
423 seconds: completed 22000000 rows
424 seconds: completed 22050000 rows
425 seconds: completed 22100000 rows
426 seconds: completed 22150000 rows
427 seconds: completed 22200000 rows
428 seconds: completed 22250000 rows
429 seconds: completed 22300000 rows
430 seconds: completed 22350000 rows
431 seconds: completed 22400000 rows
432 seconds: completed 22450000 rows
433 seconds: completed 22500000 rows
434 seconds: completed 22550000 rows
435 seconds: completed 22600000 rows
436 seconds: completed 22650000 rows

436 seconds: completed 22700000 rows
437 seconds: completed 22750000 rows
438 seconds: completed 22800000 rows
439 seconds: completed 22850000 rows
440 seconds: completed 22900000 rows
441 seconds: completed 22950000 rows
442 seconds: completed 23000000 rows
443 seconds: completed 23050000 rows
445 seconds: completed 23100000 rows
446 seconds: completed 23150000 rows
447 seconds: completed 23200000 rows
448 seconds: completed 23250000 rows
449 seconds: completed 23300000 rows
450 seconds: completed 23350000 rows
451 seconds: completed 23400000 rows
452 seconds: completed 23450000 rows
453 seconds: completed 23500000 rows
454 seconds: completed 23550000 rows
455 seconds: completed 23600000 rows
457 seconds: completed 23650000 rows
458 seconds: completed 23700000 rows
458 seconds: completed 23750000 rows
459 seconds: completed 23800000 rows
460 seconds: completed 23850000 rows
461 seconds: completed 23900000 rows
462 seconds: completed 23950000 rows
463 seconds: completed 24000000 rows
464 seconds: completed 24050000 rows
465 seconds: completed 24100000 rows
466 seconds: completed 24150000 rows
467 seconds: completed 24200000 rows
468 seconds: completed 24250000 rows
469 seconds: completed 24300000 rows
470 seconds: completed 24350000 rows
471 seconds: completed 24400000 rows
472 seconds: completed 24450000 rows
473 seconds: completed 24500000 rows
474 seconds: completed 24550000 rows
474 seconds: completed 24600000 rows
475 seconds: completed 24650000 rows
476 seconds: completed 24700000 rows
477 seconds: completed 24750000 rows
478 seconds: completed 24800000 rows
479 seconds: completed 24850000 rows
480 seconds: completed 24900000 rows
481 seconds: completed 24950000 rows
482 seconds: completed 25000000 rows
483 seconds: completed 25050000 rows
484 seconds: completed 25100000 rows
485 seconds: completed 25150000 rows
486 seconds: completed 25200000 rows
487 seconds: completed 25250000 rows
488 seconds: completed 25300000 rows
489 seconds: completed 25350000 rows
490 seconds: completed 25400000 rows
491 seconds: completed 25450000 rows
492 seconds: completed 25500000 rows
492 seconds: completed 25550000 rows
493 seconds: completed 25600000 rows
494 seconds: completed 25650000 rows
495 seconds: completed 25700000 rows
496 seconds: completed 25750000 rows
497 seconds: completed 25800000 rows
498 seconds: completed 25850000 rows
499 seconds: completed 25900000 rows
500 seconds: completed 25950000 rows
501 seconds: completed 26000000 rows
502 seconds: completed 26050000 rows
503 seconds: completed 26100000 rows
504 seconds: completed 26150000 rows
505 seconds: completed 26200000 rows
506 seconds: completed 26250000 rows
507 seconds: completed 26300000 rows
507 seconds: completed 26350000 rows
508 seconds: completed 26400000 rows
509 seconds: completed 26450000 rows
510 seconds: completed 26500000 rows
511 seconds: completed 26550000 rows
512 seconds: completed 26600000 rows
513 seconds: completed 26650000 rows
514 seconds: completed 26700000 rows
515 seconds: completed 26750000 rows
516 seconds: completed 26800000 rows
517 seconds: completed 26850000 rows
518 seconds: completed 26900000 rows
519 seconds: completed 26950000 rows
520 seconds: completed 27000000 rows
521 seconds: completed 27050000 rows
522 seconds: completed 27100000 rows
522 seconds: completed 27150000 rows
523 seconds: completed 27200000 rows
524 seconds: completed 27250000 rows
525 seconds: completed 27300000 rows
526 seconds: completed 27350000 rows
527 seconds: completed 27400000 rows
528 seconds: completed 27450000 rows
529 seconds: completed 27500000 rows
530 seconds: completed 27550000 rows
531 seconds: completed 27600000 rows
532 seconds: completed 27650000 rows
533 seconds: completed 27700000 rows
534 seconds: completed 27750000 rows
535 seconds: completed 27800000 rows
536 seconds: completed 27850000 rows
537 seconds: completed 27900000 rows
538 seconds: completed 27950000 rows
539 seconds: completed 28000000 rows
540 seconds: completed 28050000 rows
541 seconds: completed 28100000 rows
542 seconds: completed 28150000 rows
543 seconds: completed 28200000 rows
544 seconds: completed 28250000 rows
545 seconds: completed 28300000 rows
545 seconds: completed 28350000 rows
546 seconds: completed 28400000 rows
547 seconds: completed 28450000 rows
548 seconds: completed 28500000 rows
549 seconds: completed 28550000 rows
550 seconds: completed 28600000 rows
551 seconds: completed 28650000 rows
552 seconds: completed 28700000 rows
553 seconds: completed 28750000 rows
554 seconds: completed 28800000 rows
555 seconds: completed 28850000 rows
556 seconds: completed 28900000 rows
557 seconds: completed 28950000 rows
558 seconds: completed 29000000 rows
559 seconds: completed 29050000 rows
560 seconds: completed 29100000 rows
561 seconds: completed 29150000 rows
562 seconds: completed 29200000 rows
563 seconds: completed 29250000 rows
564 seconds: completed 29300000 rows
564 seconds: completed 29350000 rows
565 seconds: completed 29400000 rows
566 seconds: completed 29450000 rows
567 seconds: completed 29500000 rows
568 seconds: completed 29550000 rows
569 seconds: completed 29600000 rows
570 seconds: completed 29650000 rows
571 seconds: completed 29700000 rows
572 seconds: completed 29750000 rows
573 seconds: completed 29800000 rows
574 seconds: completed 29850000 rows
575 seconds: completed 29900000 rows
576 seconds: completed 29950000 rows
577 seconds: completed 30000000 rows
578 seconds: completed 30050000 rows
579 seconds: completed 30100000 rows
580 seconds: completed 30150000 rows
581 seconds: completed 30200000 rows
581 seconds: completed 30250000 rows
582 seconds: completed 30300000 rows
583 seconds: completed 30350000 rows
584 seconds: completed 30400000 rows
585 seconds: completed 30450000 rows
586 seconds: completed 30500000 rows
587 seconds: completed 30550000 rows
588 seconds: completed 30600000 rows
589 seconds: completed 30650000 rows
590 seconds: completed 30700000 rows
591 seconds: completed 30750000 rows
592 seconds: completed 30800000 rows
592 seconds: completed 30850000 rows
593 seconds: completed 30900000 rows
594 seconds: completed 30950000 rows
595 seconds: completed 31000000 rows
596 seconds: completed 31050000 rows
597 seconds: completed 31100000 rows
598 seconds: completed 31150000 rows
599 seconds: completed 31200000 rows
600 seconds: completed 31250000 rows
601 seconds: completed 31300000 rows
602 seconds: completed 31350000 rows
603 seconds: completed 31400000 rows
604 seconds: completed 31450000 rows
604 seconds: completed 31500000 rows
605 seconds: completed 31550000 rows
606 seconds: completed 31600000 rows
607 seconds: completed 31650000 rows
608 seconds: completed 31700000 rows
609 seconds: completed 31750000 rows
610 seconds: completed 31800000 rows
611 seconds: completed 31850000 rows
612 seconds: completed 31900000 rows
613 seconds: completed 31950000 rows
614 seconds: completed 32000000 rows
615 seconds: completed 32050000 rows
616 seconds: completed 32100000 rows
616 seconds: completed 32150000 rows
617 seconds: completed 32200000 rows
619 seconds: completed 32250000 rows
620 seconds: completed 32300000 rows
621 seconds: completed 32350000 rows
622 seconds: completed 32400000 rows
623 seconds: completed 32450000 rows
624 seconds: completed 32500000 rows
625 seconds: completed 32550000 rows
626 seconds: completed 32600000 rows
627 seconds: completed 32650000 rows
628 seconds: completed 32700000 rows
629 seconds: completed 32750000 rows
630 seconds: completed 32800000 rows
631 seconds: completed 32850000 rows
632 seconds: completed 32900000 rows
633 seconds: completed 32950000 rows
634 seconds: completed 33000000 rows
635 seconds: completed 33050000 rows
636 seconds: completed 33100000 rows
637 seconds: completed 33150000 rows
638 seconds: completed 33200000 rows
638 seconds: completed 33250000 rows
639 seconds: completed 33300000 rows
640 seconds: completed 33350000 rows
641 seconds: completed 33400000 rows
642 seconds: completed 33450000 rows
643 seconds: completed 33500000 rows
644 seconds: completed 33550000 rows
645 seconds: completed 33600000 rows
646 seconds: completed 33650000 rows
647 seconds: completed 33700000 rows
648 seconds: completed 33750000 rows

648 seconds: completed 33800000 rows
649 seconds: completed 33850000 rows
650 seconds: completed 33900000 rows
651 seconds: completed 33950000 rows
652 seconds: completed 34000000 rows
653 seconds: completed 34050000 rows
654 seconds: completed 34100000 rows
655 seconds: completed 34150000 rows
656 seconds: completed 34200000 rows
657 seconds: completed 34250000 rows
659 seconds: completed 34300000 rows
660 seconds: completed 34350000 rows
661 seconds: completed 34400000 rows
662 seconds: completed 34450000 rows
663 seconds: completed 34500000 rows
664 seconds: completed 34550000 rows
665 seconds: completed 34600000 rows
666 seconds: completed 34650000 rows
667 seconds: completed 34700000 rows
668 seconds: completed 34750000 rows
669 seconds: completed 34800000 rows
670 seconds: completed 34850000 rows
671 seconds: completed 34900000 rows
672 seconds: completed 34950000 rows
672 seconds: completed 35000000 rows
673 seconds: completed 35050000 rows
674 seconds: completed 35100000 rows
675 seconds: completed 35150000 rows
676 seconds: completed 35200000 rows
677 seconds: completed 35250000 rows
678 seconds: completed 35300000 rows
679 seconds: completed 35350000 rows
680 seconds: completed 35400000 rows
681 seconds: completed 35450000 rows
682 seconds: completed 35500000 rows
683 seconds: completed 35550000 rows
684 seconds: completed 35600000 rows
685 seconds: completed 35650000 rows
686 seconds: completed 35700000 rows
687 seconds: completed 35750000 rows
688 seconds: completed 35800000 rows
689 seconds: completed 35850000 rows
690 seconds: completed 35900000 rows
691 seconds: completed 35950000 rows
692 seconds: completed 36000000 rows
693 seconds: completed 36050000 rows
694 seconds: completed 36100000 rows
695 seconds: completed 36150000 rows
696 seconds: completed 36200000 rows
697 seconds: completed 36250000 rows
698 seconds: completed 36300000 rows
699 seconds: completed 36350000 rows
700 seconds: completed 36400000 rows
701 seconds: completed 36450000 rows
702 seconds: completed 36500000 rows
703 seconds: completed 36550000 rows
704 seconds: completed 36600000 rows
705 seconds: completed 36650000 rows
706 seconds: completed 36700000 rows
707 seconds: completed 36750000 rows
708 seconds: completed 36800000 rows
709 seconds: completed 36850000 rows
710 seconds: completed 36900000 rows
711 seconds: completed 36950000 rows
712 seconds: completed 37000000 rows
713 seconds: completed 37050000 rows
714 seconds: completed 37100000 rows
715 seconds: completed 37150000 rows
716 seconds: completed 37200000 rows
718 seconds: completed 37250000 rows
719 seconds: completed 37300000 rows
720 seconds: completed 37350000 rows
721 seconds: completed 37400000 rows
722 seconds: completed 37450000 rows
724 seconds: completed 37500000 rows
725 seconds: completed 37550000 rows
726 seconds: completed 37600000 rows
727 seconds: completed 37650000 rows
728 seconds: completed 37700000 rows
729 seconds: completed 37750000 rows
730 seconds: completed 37800000 rows
731 seconds: completed 37850000 rows
732 seconds: completed 37900000 rows
733 seconds: completed 37950000 rows
734 seconds: completed 38000000 rows
735 seconds: completed 38050000 rows
736 seconds: completed 38100000 rows
737 seconds: completed 38150000 rows
738 seconds: completed 38200000 rows
739 seconds: completed 38250000 rows
739 seconds: completed 38300000 rows
740 seconds: completed 38350000 rows
741 seconds: completed 38400000 rows
742 seconds: completed 38450000 rows
743 seconds: completed 38500000 rows
744 seconds: completed 38550000 rows
745 seconds: completed 38600000 rows
746 seconds: completed 38650000 rows
747 seconds: completed 38700000 rows
748 seconds: completed 38750000 rows
749 seconds: completed 38800000 rows
750 seconds: completed 38850000 rows
751 seconds: completed 38900000 rows
752 seconds: completed 38950000 rows
753 seconds: completed 39000000 rows
754 seconds: completed 39050000 rows
755 seconds: completed 39100000 rows
756 seconds: completed 39150000 rows
756 seconds: completed 39200000 rows
757 seconds: completed 39250000 rows
758 seconds: completed 39300000 rows
759 seconds: completed 39350000 rows
760 seconds: completed 39400000 rows
761 seconds: completed 39450000 rows
762 seconds: completed 39500000 rows
763 seconds: completed 39550000 rows
764 seconds: completed 39600000 rows
765 seconds: completed 39650000 rows
766 seconds: completed 39700000 rows
767 seconds: completed 39750000 rows
767 seconds: completed 39800000 rows
768 seconds: completed 39850000 rows
769 seconds: completed 39900000 rows
770 seconds: completed 39950000 rows
771 seconds: completed 40000000 rows
772 seconds: completed 40050000 rows
773 seconds: completed 40100000 rows
774 seconds: completed 40150000 rows
775 seconds: completed 40200000 rows
776 seconds: completed 40250000 rows
777 seconds: completed 40300000 rows
777 seconds: completed 40350000 rows
778 seconds: completed 40400000 rows
779 seconds: completed 40450000 rows
780 seconds: completed 40500000 rows
781 seconds: completed 40550000 rows
782 seconds: completed 40600000 rows
783 seconds: completed 40650000 rows
784 seconds: completed 40700000 rows
785 seconds: completed 40750000 rows
786 seconds: completed 40800000 rows
786 seconds: completed 40850000 rows
787 seconds: completed 40900000 rows
788 seconds: completed 40950000 rows
789 seconds: completed 41000000 rows
790 seconds: completed 41050000 rows
791 seconds: completed 41100000 rows
792 seconds: completed 41150000 rows
793 seconds: completed 41200000 rows
794 seconds: completed 41250000 rows
795 seconds: completed 41300000 rows
795 seconds: completed 41350000 rows
796 seconds: completed 41400000 rows
798 seconds: completed 41450000 rows
798 seconds: completed 41500000 rows
799 seconds: completed 41550000 rows
800 seconds: completed 41600000 rows
801 seconds: completed 41650000 rows
802 seconds: completed 41700000 rows
803 seconds: completed 41750000 rows
804 seconds: completed 41800000 rows
805 seconds: completed 41850000 rows
806 seconds: completed 41900000 rows
806 seconds: completed 41950000 rows
807 seconds: completed 42000000 rows
808 seconds: completed 42050000 rows
809 seconds: completed 42100000 rows
810 seconds: completed 42150000 rows
811 seconds: completed 42200000 rows
812 seconds: completed 42250000 rows
813 seconds: completed 42300000 rows
814 seconds: completed 42350000 rows
815 seconds: completed 42400000 rows
816 seconds: completed 42450000 rows
817 seconds: completed 42500000 rows
818 seconds: completed 42550000 rows
819 seconds: completed 42600000 rows
820 seconds: completed 42650000 rows
821 seconds: completed 42700000 rows
822 seconds: completed 42750000 rows
823 seconds: completed 42800000 rows
824 seconds: completed 42850000 rows
824 seconds: completed 42900000 rows
825 seconds: completed 42950000 rows
826 seconds: completed 43000000 rows
827 seconds: completed 43050000 rows
828 seconds: completed 43100000 rows
829 seconds: completed 43150000 rows
830 seconds: completed 43200000 rows
831 seconds: completed 43250000 rows
832 seconds: completed 43300000 rows
833 seconds: completed 43350000 rows
834 seconds: completed 43400000 rows
835 seconds: completed 43450000 rows
836 seconds: completed 43500000 rows
837 seconds: completed 43550000 rows
838 seconds: completed 43600000 rows
839 seconds: completed 43650000 rows
840 seconds: completed 43700000 rows
841 seconds: completed 43750000 rows
842 seconds: completed 43800000 rows
843 seconds: completed 43850000 rows
843 seconds: completed 43900000 rows
844 seconds: completed 43950000 rows
845 seconds: completed 44000000 rows
846 seconds: completed 44050000 rows
847 seconds: completed 44100000 rows
848 seconds: completed 44150000 rows
849 seconds: completed 44200000 rows
850 seconds: completed 44250000 rows
851 seconds: completed 44300000 rows
852 seconds: completed 44350000 rows
853 seconds: completed 44400000 rows
854 seconds: completed 44450000 rows
855 seconds: completed 44500000 rows
856 seconds: completed 44550000 rows
857 seconds: completed 44600000 rows
858 seconds: completed 44650000 rows
859 seconds: completed 44700000 rows
860 seconds: completed 44750000 rows
861 seconds: completed 44800000 rows
861 seconds: completed 44850000 rows

862 seconds: completed 44900000 rows
864 seconds: completed 44950000 rows
864 seconds: completed 45000000 rows
865 seconds: completed 45050000 rows
866 seconds: completed 45100000 rows
867 seconds: completed 45150000 rows
868 seconds: completed 45200000 rows
869 seconds: completed 45250000 rows
870 seconds: completed 45300000 rows
871 seconds: completed 45350000 rows
872 seconds: completed 45400000 rows
873 seconds: completed 45450000 rows
874 seconds: completed 45500000 rows
875 seconds: completed 45550000 rows
876 seconds: completed 45600000 rows
877 seconds: completed 45650000 rows
878 seconds: completed 45700000 rows
878 seconds: completed 45750000 rows
879 seconds: completed 45800000 rows
880 seconds: completed 45850000 rows
881 seconds: completed 45900000 rows
882 seconds: completed 45950000 rows
883 seconds: completed 46000000 rows
884 seconds: completed 46050000 rows
885 seconds: completed 46100000 rows
886 seconds: completed 46150000 rows
887 seconds: completed 46200000 rows
888 seconds: completed 46250000 rows
889 seconds: completed 46300000 rows
890 seconds: completed 46350000 rows
891 seconds: completed 46400000 rows
892 seconds: completed 46450000 rows
893 seconds: completed 46500000 rows
893 seconds: completed 46550000 rows
894 seconds: completed 46600000 rows
895 seconds: completed 46650000 rows
896 seconds: completed 46700000 rows
897 seconds: completed 46750000 rows
898 seconds: completed 46800000 rows
899 seconds: completed 46850000 rows
900 seconds: completed 46900000 rows
901 seconds: completed 46950000 rows
902 seconds: completed 47000000 rows
903 seconds: completed 47050000 rows
904 seconds: completed 47100000 rows
905 seconds: completed 47150000 rows
906 seconds: completed 47200000 rows
907 seconds: completed 47250000 rows
908 seconds: completed 47300000 rows
909 seconds: completed 47350000 rows
910 seconds: completed 47400000 rows
911 seconds: completed 47450000 rows
911 seconds: completed 47500000 rows
912 seconds: completed 47550000 rows
913 seconds: completed 47600000 rows
914 seconds: completed 47650000 rows
915 seconds: completed 47700000 rows
916 seconds: completed 47750000 rows
917 seconds: completed 47800000 rows
918 seconds: completed 47850000 rows
919 seconds: completed 47900000 rows
920 seconds: completed 47950000 rows
921 seconds: completed 48000000 rows
922 seconds: completed 48050000 rows
923 seconds: completed 48100000 rows
924 seconds: completed 48150000 rows
925 seconds: completed 48200000 rows
926 seconds: completed 48250000 rows
927 seconds: completed 48300000 rows
928 seconds: completed 48350000 rows
929 seconds: completed 48400000 rows
930 seconds: completed 48450000 rows
931 seconds: completed 48500000 rows
932 seconds: completed 48550000 rows
933 seconds: completed 48600000 rows
934 seconds: completed 48650000 rows
934 seconds: completed 48700000 rows
935 seconds: completed 48750000 rows
937 seconds: completed 48800000 rows
937 seconds: completed 48850000 rows
939 seconds: completed 48900000 rows
940 seconds: completed 48950000 rows
941 seconds: completed 49000000 rows
942 seconds: completed 49050000 rows
943 seconds: completed 49100000 rows
944 seconds: completed 49150000 rows
945 seconds: completed 49200000 rows
946 seconds: completed 49250000 rows
947 seconds: completed 49300000 rows
948 seconds: completed 49350000 rows
949 seconds: completed 49400000 rows
950 seconds: completed 49450000 rows
951 seconds: completed 49500000 rows
952 seconds: completed 49550000 rows
953 seconds: completed 49600000 rows
954 seconds: completed 49650000 rows
955 seconds: completed 49700000 rows
956 seconds: completed 49750000 rows
957 seconds: completed 49800000 rows
958 seconds: completed 49850000 rows
960 seconds: completed 49900000 rows
961 seconds: completed 49950000 rows
962 seconds: completed 50000000 rows
963 seconds: completed 50050000 rows
964 seconds: completed 50100000 rows
965 seconds: completed 50150000 rows
966 seconds: completed 50200000 rows
967 seconds: completed 50250000 rows
968 seconds: completed 50300000 rows
969 seconds: completed 50350000 rows
970 seconds: completed 50400000 rows
971 seconds: completed 50450000 rows
972 seconds: completed 50500000 rows
973 seconds: completed 50550000 rows
973 seconds: completed 50600000 rows
974 seconds: completed 50650000 rows
975 seconds: completed 50700000 rows
976 seconds: completed 50750000 rows
977 seconds: completed 50800000 rows
978 seconds: completed 50850000 rows
979 seconds: completed 50900000 rows
980 seconds: completed 50950000 rows
981 seconds: completed 51000000 rows
982 seconds: completed 51050000 rows
983 seconds: completed 51100000 rows
984 seconds: completed 51150000 rows
985 seconds: completed 51200000 rows
986 seconds: completed 51250000 rows
987 seconds: completed 51300000 rows
988 seconds: completed 51350000 rows
989 seconds: completed 51400000 rows
990 seconds: completed 51450000 rows
991 seconds: completed 51500000 rows
991 seconds: completed 51550000 rows
992 seconds: completed 51600000 rows
993 seconds: completed 51650000 rows
994 seconds: completed 51700000 rows
995 seconds: completed 51750000 rows
996 seconds: completed 51800000 rows
997 seconds: completed 51850000 rows
998 seconds: completed 51900000 rows
999 seconds: completed 51950000 rows
1000 seconds: completed 52000000 rows
1001 seconds: completed 52050000 rows
1001 seconds: completed 52100000 rows
1002 seconds: completed 52150000 rows
1003 seconds: completed 52200000 rows
1004 seconds: completed 52250000 rows
1005 seconds: completed 52300000 rows
1006 seconds: completed 52350000 rows
1007 seconds: completed 52400000 rows
1008 seconds: completed 52450000 rows
1009 seconds: completed 52500000 rows
1010 seconds: completed 52550000 rows
1011 seconds: completed 52600000 rows
1012 seconds: completed 52650000 rows
1013 seconds: completed 52700000 rows
1014 seconds: completed 52750000 rows
1015 seconds: completed 52800000 rows
1016 seconds: completed 52850000 rows
1016 seconds: completed 52900000 rows
1017 seconds: completed 52950000 rows
1018 seconds: completed 53000000 rows
1019 seconds: completed 53050000 rows
1020 seconds: completed 53100000 rows
1021 seconds: completed 53150000 rows
1023 seconds: completed 53200000 rows
1024 seconds: completed 53250000 rows
1025 seconds: completed 53300000 rows
1026 seconds: completed 53350000 rows
1027 seconds: completed 53400000 rows
1028 seconds: completed 53450000 rows
1029 seconds: completed 53500000 rows
1029 seconds: completed 53550000 rows
1030 seconds: completed 53600000 rows
1031 seconds: completed 53650000 rows
1032 seconds: completed 53700000 rows
1033 seconds: completed 53750000 rows
1034 seconds: completed 53800000 rows
1035 seconds: completed 53850000 rows
1036 seconds: completed 53900000 rows
1037 seconds: completed 53950000 rows
1038 seconds: completed 54000000 rows
1039 seconds: completed 54050000 rows
1040 seconds: completed 54100000 rows
1041 seconds: completed 54150000 rows
1042 seconds: completed 54200000 rows
1042 seconds: completed 54250000 rows
1043 seconds: completed 54300000 rows
1044 seconds: completed 54350000 rows
1045 seconds: completed 54400000 rows
1046 seconds: completed 54450000 rows
1047 seconds: completed 54500000 rows
1048 seconds: completed 54550000 rows
1049 seconds: completed 54600000 rows
1050 seconds: completed 54650000 rows
1051 seconds: completed 54700000 rows
1051 seconds: completed 54750000 rows
1052 seconds: completed 54800000 rows
1053 seconds: completed 54850000 rows
1054 seconds: completed 54900000 rows
1055 seconds: completed 54950000 rows
1056 seconds: completed 55000000 rows
1057 seconds: completed 55050000 rows
1058 seconds: completed 55100000 rows
1059 seconds: completed 55150000 rows
1060 seconds: completed 55200000 rows
1060 seconds: completed 55250000 rows
1061 seconds: completed 55300000 rows
1062 seconds: completed 55350000 rows
1063 seconds: completed 55400000 rows
1064 seconds: completed 55450000 rows
1065 seconds: completed 55500000 rows
1066 seconds: completed 55550000 rows
1067 seconds: completed 55600000 rows
1068 seconds: completed 55650000 rows
1069 seconds: completed 55700000 rows
1070 seconds: completed 55750000 rows
1071 seconds: completed 55800000 rows
1072 seconds: completed 55850000 rows

1073 seconds: completed 55900000 rows
1074 seconds: completed 55950000 rows
1075 seconds: completed 56000000 rows
1075 seconds: completed 56050000 rows
1076 seconds: completed 56100000 rows
1077 seconds: completed 56150000 rows
1078 seconds: completed 56200000 rows
1079 seconds: completed 56250000 rows
1080 seconds: completed 56300000 rows
1081 seconds: completed 56350000 rows
1082 seconds: completed 56400000 rows
1083 seconds: completed 56450000 rows
1084 seconds: completed 56500000 rows
1085 seconds: completed 56550000 rows
1086 seconds: completed 56600000 rows
1087 seconds: completed 56650000 rows
1088 seconds: completed 56700000 rows
1089 seconds: completed 56750000 rows
1090 seconds: completed 56800000 rows
1091 seconds: completed 56850000 rows
1092 seconds: completed 56900000 rows
1093 seconds: completed 56950000 rows
1094 seconds: completed 57000000 rows
1095 seconds: completed 57050000 rows
1096 seconds: completed 57100000 rows
1097 seconds: completed 57150000 rows
1098 seconds: completed 57200000 rows
1099 seconds: completed 57250000 rows
1100 seconds: completed 57300000 rows
1101 seconds: completed 57350000 rows
1102 seconds: completed 57400000 rows
1103 seconds: completed 57450000 rows
1104 seconds: completed 57500000 rows
1105 seconds: completed 57550000 rows
1106 seconds: completed 57600000 rows
1107 seconds: completed 57650000 rows
1108 seconds: completed 57700000 rows
1109 seconds: completed 57750000 rows
1110 seconds: completed 57800000 rows
1111 seconds: completed 57850000 rows
1112 seconds: completed 57900000 rows
1113 seconds: completed 57950000 rows
1114 seconds: completed 58000000 rows
1115 seconds: completed 58050000 rows
1116 seconds: completed 58100000 rows
1117 seconds: completed 58150000 rows
1118 seconds: completed 58200000 rows
1119 seconds: completed 58250000 rows
1120 seconds: completed 58300000 rows
1120 seconds: completed 58350000 rows
1122 seconds: completed 58400000 rows
1123 seconds: completed 58450000 rows
1123 seconds: completed 58500000 rows
1124 seconds: completed 58550000 rows
1125 seconds: completed 58600000 rows
1126 seconds: completed 58650000 rows
1127 seconds: completed 58700000 rows
1128 seconds: completed 58750000 rows
1129 seconds: completed 58800000 rows
1130 seconds: completed 58850000 rows
1131 seconds: completed 58900000 rows
1132 seconds: completed 58950000 rows
1133 seconds: completed 59000000 rows
1134 seconds: completed 59050000 rows
1135 seconds: completed 59100000 rows
1136 seconds: completed 59150000 rows
1137 seconds: completed 59200000 rows
1138 seconds: completed 59250000 rows
1139 seconds: completed 59300000 rows
1140 seconds: completed 59350000 rows
1141 seconds: completed 59400000 rows
1142 seconds: completed 59450000 rows
1143 seconds: completed 59500000 rows
1144 seconds: completed 59550000 rows
1145 seconds: completed 59600000 rows
1146 seconds: completed 59650000 rows
1147 seconds: completed 59700000 rows
1148 seconds: completed 59750000 rows
1149 seconds: completed 59800000 rows
1150 seconds: completed 59850000 rows
1151 seconds: completed 59900000 rows
1152 seconds: completed 59950000 rows
1153 seconds: completed 60000000 rows
1154 seconds: completed 60050000 rows
1155 seconds: completed 60100000 rows
1156 seconds: completed 60150000 rows
1157 seconds: completed 60200000 rows
1158 seconds: completed 60250000 rows
1159 seconds: completed 60300000 rows
1160 seconds: completed 60350000 rows
1161 seconds: completed 60400000 rows
1162 seconds: completed 60450000 rows
1163 seconds: completed 60500000 rows
1164 seconds: completed 60550000 rows
1165 seconds: completed 60600000 rows
1166 seconds: completed 60650000 rows
1167 seconds: completed 60700000 rows
1168 seconds: completed 60750000 rows
1169 seconds: completed 60800000 rows
1170 seconds: completed 60850000 rows
1171 seconds: completed 60900000 rows
1172 seconds: completed 60950000 rows
1173 seconds: completed 61000000 rows
1174 seconds: completed 61050000 rows
1175 seconds: completed 61100000 rows
1176 seconds: completed 61150000 rows
1177 seconds: completed 61200000 rows
1178 seconds: completed 61250000 rows
1179 seconds: completed 61300000 rows
1180 seconds: completed 61350000 rows
1181 seconds: completed 61400000 rows
1182 seconds: completed 61450000 rows
1183 seconds: completed 61500000 rows
1184 seconds: completed 61550000 rows
1185 seconds: completed 61600000 rows
1186 seconds: completed 61650000 rows
1187 seconds: completed 61700000 rows
1188 seconds: completed 61750000 rows
1189 seconds: completed 61800000 rows
1190 seconds: completed 61850000 rows
1192 seconds: completed 61900000 rows
1193 seconds: completed 61950000 rows
1194 seconds: completed 62000000 rows
1195 seconds: completed 62050000 rows
1196 seconds: completed 62100000 rows
1197 seconds: completed 62150000 rows
1198 seconds: completed 62200000 rows
1199 seconds: completed 62250000 rows
1200 seconds: completed 62300000 rows
1201 seconds: completed 62350000 rows
1203 seconds: completed 62400000 rows
1204 seconds: completed 62450000 rows
1205 seconds: completed 62500000 rows
1206 seconds: completed 62550000 rows
1207 seconds: completed 62600000 rows
1208 seconds: completed 62650000 rows
1209 seconds: completed 62700000 rows
1210 seconds: completed 62750000 rows
1211 seconds: completed 62800000 rows
1212 seconds: completed 62850000 rows
1213 seconds: completed 62900000 rows
1214 seconds: completed 62950000 rows
1215 seconds: completed 63000000 rows
1216 seconds: completed 63050000 rows
1217 seconds: completed 63100000 rows
1218 seconds: completed 63150000 rows
1219 seconds: completed 63200000 rows
1220 seconds: completed 63250000 rows
1221 seconds: completed 63300000 rows
1222 seconds: completed 63350000 rows
1223 seconds: completed 63400000 rows
1224 seconds: completed 63450000 rows
1224 seconds: completed 63500000 rows
1226 seconds: completed 63550000 rows
1227 seconds: completed 63600000 rows
1228 seconds: completed 63650000 rows
1229 seconds: completed 63700000 rows
1230 seconds: completed 63750000 rows
1232 seconds: completed 63800000 rows
1233 seconds: completed 63850000 rows
1234 seconds: completed 63900000 rows
1235 seconds: completed 63950000 rows
1236 seconds: completed 64000000 rows
1237 seconds: completed 64050000 rows
1238 seconds: completed 64100000 rows
1239 seconds: completed 64150000 rows
1240 seconds: completed 64200000 rows
1241 seconds: completed 64250000 rows
1242 seconds: completed 64300000 rows
1243 seconds: completed 64350000 rows
1244 seconds: completed 64400000 rows
1245 seconds: completed 64450000 rows
1246 seconds: completed 64500000 rows
1247 seconds: completed 64550000 rows
1248 seconds: completed 64600000 rows
1249 seconds: completed 64650000 rows
1250 seconds: completed 64700000 rows
1251 seconds: completed 64750000 rows
1252 seconds: completed 64800000 rows
1253 seconds: completed 64850000 rows
1254 seconds: completed 64900000 rows
1255 seconds: completed 64950000 rows
1256 seconds: completed 65000000 rows
1256 seconds: completed 65050000 rows
1257 seconds: completed 65100000 rows
1258 seconds: completed 65150000 rows
1260 seconds: completed 65200000 rows
1261 seconds: completed 65250000 rows
1262 seconds: completed 65300000 rows
1263 seconds: completed 65350000 rows
1264 seconds: completed 65400000 rows
1265 seconds: completed 65450000 rows
1266 seconds: completed 65500000 rows
1267 seconds: completed 65550000 rows
1268 seconds: completed 65600000 rows
1269 seconds: completed 65650000 rows
1269 seconds: completed 65700000 rows
1270 seconds: completed 65750000 rows
1271 seconds: completed 65800000 rows
1272 seconds: completed 65850000 rows
1274 seconds: completed 65900000 rows
1274 seconds: completed 65950000 rows
1275 seconds: completed 66000000 rows
1276 seconds: completed 66050000 rows
1277 seconds: completed 66100000 rows
1278 seconds: completed 66150000 rows
1279 seconds: completed 66200000 rows
1280 seconds: completed 66250000 rows
1281 seconds: completed 66300000 rows
1282 seconds: completed 66350000 rows
1283 seconds: completed 66400000 rows
1284 seconds: completed 66450000 rows
1285 seconds: completed 66500000 rows
1286 seconds: completed 66550000 rows
1287 seconds: completed 66600000 rows
1288 seconds: completed 66650000 rows

1289 seconds: completed 66700000 rows
1290 seconds: completed 66750000 rows
1291 seconds: completed 66800000 rows
1292 seconds: completed 66850000 rows
1293 seconds: completed 66900000 rows
1294 seconds: completed 66950000 rows
1295 seconds: completed 67000000 rows
1296 seconds: completed 67050000 rows
1297 seconds: completed 67100000 rows
1298 seconds: completed 67150000 rows
1299 seconds: completed 67200000 rows
1300 seconds: completed 67250000 rows
1301 seconds: completed 67300000 rows
1301 seconds: completed 67350000 rows
1303 seconds: completed 67400000 rows
1303 seconds: completed 67450000 rows
1304 seconds: completed 67500000 rows
1305 seconds: completed 67550000 rows
1306 seconds: completed 67600000 rows
1307 seconds: completed 67650000 rows
1308 seconds: completed 67700000 rows
1309 seconds: completed 67750000 rows
1310 seconds: completed 67800000 rows
1311 seconds: completed 67850000 rows
1312 seconds: completed 67900000 rows
1313 seconds: completed 67950000 rows
1314 seconds: completed 68000000 rows
1315 seconds: completed 68050000 rows
1316 seconds: completed 68100000 rows
1317 seconds: completed 68150000 rows
1318 seconds: completed 68200000 rows
1319 seconds: completed 68250000 rows
1320 seconds: completed 68300000 rows
1321 seconds: completed 68350000 rows
1322 seconds: completed 68400000 rows
1323 seconds: completed 68450000 rows
1324 seconds: completed 68500000 rows
1325 seconds: completed 68550000 rows
1326 seconds: completed 68600000 rows
1327 seconds: completed 68650000 rows
1328 seconds: completed 68700000 rows
1329 seconds: completed 68750000 rows
1330 seconds: completed 68800000 rows
1331 seconds: completed 68850000 rows
1332 seconds: completed 68900000 rows
1333 seconds: completed 68950000 rows
1334 seconds: completed 69000000 rows
1335 seconds: completed 69050000 rows
1336 seconds: completed 69100000 rows
1337 seconds: completed 69150000 rows
1338 seconds: completed 69200000 rows
1339 seconds: completed 69250000 rows
1340 seconds: completed 69300000 rows
1341 seconds: completed 69350000 rows
1342 seconds: completed 69400000 rows
1343 seconds: completed 69450000 rows
1344 seconds: completed 69500000 rows
1345 seconds: completed 69550000 rows
1346 seconds: completed 69600000 rows
1347 seconds: completed 69650000 rows
1348 seconds: completed 69700000 rows
1349 seconds: completed 69750000 rows
1350 seconds: completed 69800000 rows
1351 seconds: completed 69850000 rows

In [122]:
disk_engine2 = create_engine('sqlite:///317_8M.db')

In [123]:
start = dt.datetime.now()
chunksize = 50000
j = 0
index_start = 1

for dff in pd.read_csv('/Users/kamakshibansal/Documents/allYears.csv', chunksize=chunksize, iterator=True, encoding='utf-8'):
# for df in pd.read_csv('/Users/kamakshibansal/Documents/Belfast_copy_2.csv', chunksize=chunksize, iterator=True, encoding='utf-8'):
        
    dff = dff.rename(columns={c: c.replace(' ', '') for c in dff.columns}) # Remove spaces from columns
#     df.replace({'Category_id' : { '1': 'Accounting & Finance Jobs', '2': 'IT Jobs', '3': 'Sales Jobs', '4': 'Customer Services Jobs','5': 'Engineering Jobs', '6': 'HR & Recruitment Jobs','7': 'Healthcare & Nursing Jobs','8': 'Hospitality & Catering Jobs','9': "PR, Advertising & Marketing Jobs", '10': 'Logistics & Warehouse Jobs', '11': 'Teaching Jobs','12': 'Trade & Construction Jobs','13': 'Admin Jobs','14': 'Legal Jobs','15': 'Creative & Design Jobs','16': 'Graduate Jobs','17': 'Retail Jobs','18': 'Consultancy Jobs','19': 'Manufacturing Jobs','20': 'Scientific & QA Jobs','21': 'Social work Jobs' ,'22': 'Travel Jobs','23': "Energy, Oil & Gas Jobs",'24': 'Property Jobs','25': 'Charity & Voluntary Jobs','26': 'Domestic help & Cleaning Jobs','27': 'Maintenance Jobs','28': 'Part time Jobs','29': 'Other/General Jobs','176': 'Unknown' }})

#     df['CreatedDate'] = pd.to_datetime(df['CreatedDate']) # Convert to datetimes
#     df['ClosedDate'] = pd.to_datetime(df['ClosedDate'])
    
    dff.index += index_start

    # Remove the un-interesting columns
    columns = ['Year', 'Title_raw', 'Title_norm', 'Category_id', 'Location_name',
               'Skills']

    for c in dff.columns:
        if c not in columns:
            dff = dff.drop(c, axis=1)  
            
    dff = dff[pd.notnull(dff['Title_norm'])]
    is_cyber= ((dff.Title_norm=="Cyber Security Analyst")|(dff.Title_norm=="Cyber Security Consultant")|(dff.Title_norm=="Cyber Security Manager")|(dff.Title_norm=="Cyber Security Architect")|(dff.Title_norm=="Cyber Security Engineer"))
    dff=dff[is_cyber]
    
    j+=1
    print ('{} seconds: completed {} rows'.format((dt.datetime.now() - start).seconds, j*chunksize))

    dff.to_sql('data12', disk_engine2, if_exists='append')
    index_start = dff.index[-1] + 1

0 seconds: completed 50000 rows
0 seconds: completed 100000 rows
1 seconds: completed 150000 rows
1 seconds: completed 200000 rows
2 seconds: completed 250000 rows
2 seconds: completed 300000 rows
3 seconds: completed 350000 rows
3 seconds: completed 400000 rows
4 seconds: completed 450000 rows
4 seconds: completed 500000 rows
5 seconds: completed 550000 rows
5 seconds: completed 600000 rows
6 seconds: completed 650000 rows
6 seconds: completed 700000 rows
7 seconds: completed 750000 rows
7 seconds: completed 800000 rows
7 seconds: completed 850000 rows
8 seconds: completed 900000 rows
8 seconds: completed 950000 rows
9 seconds: completed 1000000 rows
9 seconds: completed 1050000 rows
10 seconds: completed 1100000 rows
10 seconds: completed 1150000 rows
11 seconds: completed 1200000 rows
11 seconds: completed 1250000 rows
11 seconds: completed 1300000 rows
12 seconds: completed 1350000 rows
12 seconds: completed 1400000 rows
13 seconds: completed 1450000 rows
13 seconds: completed 1500000 rows
14 seconds: completed 1550000 rows
14 seconds: completed 1600000 rows
14 seconds: completed 1650000 rows
15 seconds: completed 1700000 rows
15 seconds: completed 1750000 rows
16 seconds: completed 1800000 rows
16 seconds: completed 1850000 rows
17 seconds: completed 1900000 rows
17 seconds: completed 1950000 rows
17 seconds: completed 2000000 rows
18 seconds: completed 2050000 rows
18 seconds: completed 2100000 rows
19 seconds: completed 2150000 rows
19 seconds: completed 2200000 rows
19 seconds: completed 2250000 rows
20 seconds: completed 2300000 rows
20 seconds: completed 2350000 rows
21 seconds: completed 2400000 rows
21 seconds: completed 2450000 rows
22 seconds: completed 2500000 rows
22 seconds: completed 2550000 rows
22 seconds: completed 2600000 rows
23 seconds: completed 2650000 rows
23 seconds: completed 2700000 rows
24 seconds: completed 2750000 rows
24 seconds: completed 2800000 rows
25 seconds: completed 2850000 rows
25 seconds: completed 2900000 rows
25 seconds: completed 2950000 rows
26 seconds: completed 3000000 rows
26 seconds: completed 3050000 rows
27 seconds: completed 3100000 rows
27 seconds: completed 3150000 rows
28 seconds: completed 3200000 rows
28 seconds: completed 3250000 rows
28 seconds: completed 3300000 rows
29 seconds: completed 3350000 rows
29 seconds: completed 3400000 rows
30 seconds: completed 3450000 rows
30 seconds: completed 3500000 rows
30 seconds: completed 3550000 rows
31 seconds: completed 3600000 rows
31 seconds: completed 3650000 rows
32 seconds: completed 3700000 rows
32 seconds: completed 3750000 rows
33 seconds: completed 3800000 rows
33 seconds: completed 3850000 rows
33 seconds: completed 3900000 rows
34 seconds: completed 3950000 rows
34 seconds: completed 4000000 rows
35 seconds: completed 4050000 rows
35 seconds: completed 4100000 rows
36 seconds: completed 4150000 rows
36 seconds: completed 4200000 rows
37 seconds: completed 4250000 rows
38 seconds: completed 4300000 rows
38 seconds: completed 4350000 rows
39 seconds: completed 4400000 rows
39 seconds: completed 4450000 rows
39 seconds: completed 4500000 rows
40 seconds: completed 4550000 rows
40 seconds: completed 4600000 rows
41 seconds: completed 4650000 rows
41 seconds: completed 4700000 rows
42 seconds: completed 4750000 rows
42 seconds: completed 4800000 rows
43 seconds: completed 4850000 rows
43 seconds: completed 4900000 rows
44 seconds: completed 4950000 rows
44 seconds: completed 5000000 rows
44 seconds: completed 5050000 rows
45 seconds: completed 5100000 rows
46 seconds: completed 5150000 rows
46 seconds: completed 5200000 rows
47 seconds: completed 5250000 rows
47 seconds: completed 5300000 rows
48 seconds: completed 5350000 rows
48 seconds: completed 5400000 rows
49 seconds: completed 5450000 rows
49 seconds: completed 5500000 rows
50 seconds: completed 5550000 rows
50 seconds: completed 5600000 rows
50 seconds: completed 5650000 rows
51 seconds: completed 5700000 rows
51 seconds: completed 5750000 rows
52 seconds: completed 5800000 rows
52 seconds: completed 5850000 rows
53 seconds: completed 5900000 rows
53 seconds: completed 5950000 rows
53 seconds: completed 6000000 rows
54 seconds: completed 6050000 rows
54 seconds: completed 6100000 rows
55 seconds: completed 6150000 rows
55 seconds: completed 6200000 rows
56 seconds: completed 6250000 rows
56 seconds: completed 6300000 rows
56 seconds: completed 6350000 rows
57 seconds: completed 6400000 rows
57 seconds: completed 6450000 rows
58 seconds: completed 6500000 rows
58 seconds: completed 6550000 rows
59 seconds: completed 6600000 rows
59 seconds: completed 6650000 rows
59 seconds: completed 6700000 rows
60 seconds: completed 6750000 rows
60 seconds: completed 6800000 rows
61 seconds: completed 6850000 rows
61 seconds: completed 6900000 rows
62 seconds: completed 6950000 rows
62 seconds: completed 7000000 rows
62 seconds: completed 7050000 rows
63 seconds: completed 7100000 rows
63 seconds: completed 7150000 rows
64 seconds: completed 7200000 rows
64 seconds: completed 7250000 rows
64 seconds: completed 7300000 rows
65 seconds: completed 7350000 rows
65 seconds: completed 7400000 rows
66 seconds: completed 7450000 rows
66 seconds: completed 7500000 rows
67 seconds: completed 7550000 rows
67 seconds: completed 7600000 rows
67 seconds: completed 7650000 rows
68 seconds: completed 7700000 rows
68 seconds: completed 7750000 rows
69 seconds: completed 7800000 rows
69 seconds: completed 7850000 rows
69 seconds: completed 7900000 rows
70 seconds: completed 7950000 rows
70 seconds: completed 8000000 rows
71 seconds: completed 8050000 rows
71 seconds: completed 8100000 rows
72 seconds: completed 8150000 rows
72 seconds: completed 8200000 rows
72 seconds: completed 8250000 rows
73 seconds: completed 8300000 rows
73 seconds: completed 8350000 rows
74 seconds: completed 8400000 rows
74 seconds: completed 8450000 rows
75 seconds: completed 8500000 rows
75 seconds: completed 8550000 rows
76 seconds: completed 8600000 rows
76 seconds: completed 8650000 rows
76 seconds: completed 8700000 rows
77 seconds: completed 8750000 rows
77 seconds: completed 8800000 rows
78 seconds: completed 8850000 rows
78 seconds: completed 8900000 rows
78 seconds: completed 8950000 rows
79 seconds: completed 9000000 rows
79 seconds: completed 9050000 rows
80 seconds: completed 9100000 rows
80 seconds: completed 9150000 rows
81 seconds: completed 9200000 rows
81 seconds: completed 9250000 rows
81 seconds: completed 9300000 rows
82 seconds: completed 9350000 rows
82 seconds: completed 9400000 rows
83 seconds: completed 9450000 rows
83 seconds: completed 9500000 rows
83 seconds: completed 9550000 rows
84 seconds: completed 9600000 rows
84 seconds: completed 9650000 rows
85 seconds: completed 9700000 rows
85 seconds: completed 9750000 rows
86 seconds: completed 9800000 rows
86 seconds: completed 9850000 rows
86 seconds: completed 9900000 rows
87 seconds: completed 9950000 rows
87 seconds: completed 10000000 rows
88 seconds: completed 10050000 rows
88 seconds: completed 10100000 rows
89 seconds: completed 10150000 rows
89 seconds: completed 10200000 rows
89 seconds: completed 10250000 rows
90 seconds: completed 10300000 rows
90 seconds: completed 10350000 rows
91 seconds: completed 10400000 rows
91 seconds: completed 10450000 rows
91 seconds: completed 10500000 rows
92 seconds: completed 10550000 rows
92 seconds: completed 10600000 rows
93 seconds: completed 10650000 rows
93 seconds: completed 10700000 rows
94 seconds: completed 10750000 rows
94 seconds: completed 10800000 rows
94 seconds: completed 10850000 rows
95 seconds: completed 10900000 rows
95 seconds: completed 10950000 rows
96 seconds: completed 11000000 rows
96 seconds: completed 11050000 rows
96 seconds: completed 11100000 rows
97 seconds: completed 11150000 rows
97 seconds: completed 11200000 rows
98 seconds: completed 11250000 rows
98 seconds: completed 11300000 rows
99 seconds: completed 11350000 rows
99 seconds: completed 11400000 rows
99 seconds: completed 11450000 rows
100 seconds: completed 11500000 rows
100 seconds: completed 11550000 rows
101 seconds: completed 11600000 rows
101 seconds: completed 11650000 rows
101 seconds: completed 11700000 rows
102 seconds: completed 11750000 rows

102 seconds: completed 11800000 rows
103 seconds: completed 11850000 rows
103 seconds: completed 11900000 rows
104 seconds: completed 11950000 rows
104 seconds: completed 12000000 rows
104 seconds: completed 12050000 rows
105 seconds: completed 12100000 rows
105 seconds: completed 12150000 rows
106 seconds: completed 12200000 rows
106 seconds: completed 12250000 rows
107 seconds: completed 12300000 rows
107 seconds: completed 12350000 rows
107 seconds: completed 12400000 rows
108 seconds: completed 12450000 rows
108 seconds: completed 12500000 rows
109 seconds: completed 12550000 rows
109 seconds: completed 12600000 rows
109 seconds: completed 12650000 rows
110 seconds: completed 12700000 rows
110 seconds: completed 12750000 rows
110 seconds: completed 12800000 rows
111 seconds: completed 12850000 rows
111 seconds: completed 12900000 rows
112 seconds: completed 12950000 rows
112 seconds: completed 13000000 rows
112 seconds: completed 13050000 rows
113 seconds: completed 13100000 rows
113 seconds: completed 13150000 rows
114 seconds: completed 13200000 rows
114 seconds: completed 13250000 rows
114 seconds: completed 13300000 rows
115 seconds: completed 13350000 rows
115 seconds: completed 13400000 rows
116 seconds: completed 13450000 rows
116 seconds: completed 13500000 rows
116 seconds: completed 13550000 rows
117 seconds: completed 13600000 rows
117 seconds: completed 13650000 rows
117 seconds: completed 13700000 rows
118 seconds: completed 13750000 rows
118 seconds: completed 13800000 rows
119 seconds: completed 13850000 rows
119 seconds: completed 13900000 rows
119 seconds: completed 13950000 rows
120 seconds: completed 14000000 rows
120 seconds: completed 14050000 rows
121 seconds: completed 14100000 rows
121 seconds: completed 14150000 rows
122 seconds: completed 14200000 rows
122 seconds: completed 14250000 rows
122 seconds: completed 14300000 rows
123 seconds: completed 14350000 rows
123 seconds: completed 14400000 rows
124 seconds: completed 14450000 rows
124 seconds: completed 14500000 rows
124 seconds: completed 14550000 rows
125 seconds: completed 14600000 rows
125 seconds: completed 14650000 rows
126 seconds: completed 14700000 rows
126 seconds: completed 14750000 rows
127 seconds: completed 14800000 rows
127 seconds: completed 14850000 rows
127 seconds: completed 14900000 rows
128 seconds: completed 14950000 rows
128 seconds: completed 15000000 rows
129 seconds: completed 15050000 rows
129 seconds: completed 15100000 rows
130 seconds: completed 15150000 rows
130 seconds: completed 15200000 rows
131 seconds: completed 15250000 rows
131 seconds: completed 15300000 rows
132 seconds: completed 15350000 rows
132 seconds: completed 15400000 rows
133 seconds: completed 15450000 rows
133 seconds: completed 15500000 rows
133 seconds: completed 15550000 rows
134 seconds: completed 15600000 rows
134 seconds: completed 15650000 rows
135 seconds: completed 15700000 rows
135 seconds: completed 15750000 rows
136 seconds: completed 15800000 rows
136 seconds: completed 15850000 rows
136 seconds: completed 15900000 rows
137 seconds: completed 15950000 rows
137 seconds: completed 16000000 rows
138 seconds: completed 16050000 rows
138 seconds: completed 16100000 rows
139 seconds: completed 16150000 rows
139 seconds: completed 16200000 rows
139 seconds: completed 16250000 rows
140 seconds: completed 16300000 rows
140 seconds: completed 16350000 rows
141 seconds: completed 16400000 rows
141 seconds: completed 16450000 rows
141 seconds: completed 16500000 rows
142 seconds: completed 16550000 rows
142 seconds: completed 16600000 rows
143 seconds: completed 16650000 rows
143 seconds: completed 16700000 rows
144 seconds: completed 16750000 rows
144 seconds: completed 16800000 rows
144 seconds: completed 16850000 rows
145 seconds: completed 16900000 rows
145 seconds: completed 16950000 rows
146 seconds: completed 17000000 rows
146 seconds: completed 17050000 rows
146 seconds: completed 17100000 rows
147 seconds: completed 17150000 rows
147 seconds: completed 17200000 rows
148 seconds: completed 17250000 rows
148 seconds: completed 17300000 rows
148 seconds: completed 17350000 rows
149 seconds: completed 17400000 rows
149 seconds: completed 17450000 rows
150 seconds: completed 17500000 rows
150 seconds: completed 17550000 rows
150 seconds: completed 17600000 rows
151 seconds: completed 17650000 rows
151 seconds: completed 17700000 rows
152 seconds: completed 17750000 rows
152 seconds: completed 17800000 rows
152 seconds: completed 17850000 rows
153 seconds: completed 17900000 rows
153 seconds: completed 17950000 rows
154 seconds: completed 18000000 rows
154 seconds: completed 18050000 rows
154 seconds: completed 18100000 rows
155 seconds: completed 18150000 rows
155 seconds: completed 18200000 rows
156 seconds: completed 18250000 rows
156 seconds: completed 18300000 rows
156 seconds: completed 18350000 rows
157 seconds: completed 18400000 rows
157 seconds: completed 18450000 rows
158 seconds: completed 18500000 rows
158 seconds: completed 18550000 rows
159 seconds: completed 18600000 rows
159 seconds: completed 18650000 rows
159 seconds: completed 18700000 rows
160 seconds: completed 18750000 rows
160 seconds: completed 18800000 rows
161 seconds: completed 18850000 rows
161 seconds: completed 18900000 rows
161 seconds: completed 18950000 rows
162 seconds: completed 19000000 rows
162 seconds: completed 19050000 rows
163 seconds: completed 19100000 rows
163 seconds: completed 19150000 rows
164 seconds: completed 19200000 rows
164 seconds: completed 19250000 rows
164 seconds: completed 19300000 rows
165 seconds: completed 19350000 rows
165 seconds: completed 19400000 rows
166 seconds: completed 19450000 rows
166 seconds: completed 19500000 rows
167 seconds: completed 19550000 rows
167 seconds: completed 19600000 rows
167 seconds: completed 19650000 rows
168 seconds: completed 19700000 rows
168 seconds: completed 19750000 rows
169 seconds: completed 19800000 rows
169 seconds: completed 19850000 rows
170 seconds: completed 19900000 rows
170 seconds: completed 19950000 rows
170 seconds: completed 20000000 rows
171 seconds: completed 20050000 rows
171 seconds: completed 20100000 rows
172 seconds: completed 20150000 rows
172 seconds: completed 20200000 rows
172 seconds: completed 20250000 rows
173 seconds: completed 20300000 rows
173 seconds: completed 20350000 rows
174 seconds: completed 20400000 rows
174 seconds: completed 20450000 rows
175 seconds: completed 20500000 rows
175 seconds: completed 20550000 rows
175 seconds: completed 20600000 rows
176 seconds: completed 20650000 rows
176 seconds: completed 20700000 rows
177 seconds: completed 20750000 rows
177 seconds: completed 20800000 rows
177 seconds: completed 20850000 rows
178 seconds: completed 20900000 rows
178 seconds: completed 20950000 rows
179 seconds: completed 21000000 rows
179 seconds: completed 21050000 rows
180 seconds: completed 21100000 rows
180 seconds: completed 21150000 rows
180 seconds: completed 21200000 rows
181 seconds: completed 21250000 rows
181 seconds: completed 21300000 rows
182 seconds: completed 21350000 rows
182 seconds: completed 21400000 rows
182 seconds: completed 21450000 rows
183 seconds: completed 21500000 rows
183 seconds: completed 21550000 rows
184 seconds: completed 21600000 rows
184 seconds: completed 21650000 rows
184 seconds: completed 21700000 rows
185 seconds: completed 21750000 rows
185 seconds: completed 21800000 rows
186 seconds: completed 21850000 rows
186 seconds: completed 21900000 rows
187 seconds: completed 21950000 rows
187 seconds: completed 22000000 rows
187 seconds: completed 22050000 rows
188 seconds: completed 22100000 rows
188 seconds: completed 22150000 rows
189 seconds: completed 22200000 rows
189 seconds: completed 22250000 rows
189 seconds: completed 22300000 rows
190 seconds: completed 22350000 rows
190 seconds: completed 22400000 rows
191 seconds: completed 22450000 rows
191 seconds: completed 22500000 rows
191 seconds: completed 22550000 rows
192 seconds: completed 22600000 rows
192 seconds: completed 22650000 rows
193 seconds: completed 22700000 rows
193 seconds: completed 22750000 rows
194 seconds: completed 22800000 rows
194 seconds: completed 22850000 rows

194 seconds: completed 22900000 rows
195 seconds: completed 22950000 rows
195 seconds: completed 23000000 rows
196 seconds: completed 23050000 rows
196 seconds: completed 23100000 rows
196 seconds: completed 23150000 rows
197 seconds: completed 23200000 rows
197 seconds: completed 23250000 rows
198 seconds: completed 23300000 rows
198 seconds: completed 23350000 rows
198 seconds: completed 23400000 rows
199 seconds: completed 23450000 rows
199 seconds: completed 23500000 rows
200 seconds: completed 23550000 rows
200 seconds: completed 23600000 rows
200 seconds: completed 23650000 rows
201 seconds: completed 23700000 rows
201 seconds: completed 23750000 rows
202 seconds: completed 23800000 rows
202 seconds: completed 23850000 rows
202 seconds: completed 23900000 rows
203 seconds: completed 23950000 rows
203 seconds: completed 24000000 rows
204 seconds: completed 24050000 rows
204 seconds: completed 24100000 rows
205 seconds: completed 24150000 rows
205 seconds: completed 24200000 rows
205 seconds: completed 24250000 rows
206 seconds: completed 24300000 rows
206 seconds: completed 24350000 rows
207 seconds: completed 24400000 rows
207 seconds: completed 24450000 rows
207 seconds: completed 24500000 rows
208 seconds: completed 24550000 rows
208 seconds: completed 24600000 rows
209 seconds: completed 24650000 rows
209 seconds: completed 24700000 rows
209 seconds: completed 24750000 rows
210 seconds: completed 24800000 rows
210 seconds: completed 24850000 rows
211 seconds: completed 24900000 rows
211 seconds: completed 24950000 rows
211 seconds: completed 25000000 rows
212 seconds: completed 25050000 rows
212 seconds: completed 25100000 rows
213 seconds: completed 25150000 rows
213 seconds: completed 25200000 rows
214 seconds: completed 25250000 rows
214 seconds: completed 25300000 rows
215 seconds: completed 25350000 rows
215 seconds: completed 25400000 rows
216 seconds: completed 25450000 rows
216 seconds: completed 25500000 rows
217 seconds: completed 25550000 rows
217 seconds: completed 25600000 rows
217 seconds: completed 25650000 rows
218 seconds: completed 25700000 rows
218 seconds: completed 25750000 rows
219 seconds: completed 25800000 rows
219 seconds: completed 25850000 rows
219 seconds: completed 25900000 rows
220 seconds: completed 25950000 rows
220 seconds: completed 26000000 rows
221 seconds: completed 26050000 rows
221 seconds: completed 26100000 rows
221 seconds: completed 26150000 rows
222 seconds: completed 26200000 rows
222 seconds: completed 26250000 rows
223 seconds: completed 26300000 rows
223 seconds: completed 26350000 rows
223 seconds: completed 26400000 rows
224 seconds: completed 26450000 rows
224 seconds: completed 26500000 rows
225 seconds: completed 26550000 rows
225 seconds: completed 26600000 rows
225 seconds: completed 26650000 rows
226 seconds: completed 26700000 rows
226 seconds: completed 26750000 rows
227 seconds: completed 26800000 rows
227 seconds: completed 26850000 rows
227 seconds: completed 26900000 rows
228 seconds: completed 26950000 rows
228 seconds: completed 27000000 rows
229 seconds: completed 27050000 rows
229 seconds: completed 27100000 rows
229 seconds: completed 27150000 rows
230 seconds: completed 27200000 rows
230 seconds: completed 27250000 rows
231 seconds: completed 27300000 rows
231 seconds: completed 27350000 rows
231 seconds: completed 27400000 rows
232 seconds: completed 27450000 rows
232 seconds: completed 27500000 rows
233 seconds: completed 27550000 rows
233 seconds: completed 27600000 rows
234 seconds: completed 27650000 rows
234 seconds: completed 27700000 rows
234 seconds: completed 27750000 rows
235 seconds: completed 27800000 rows
235 seconds: completed 27850000 rows
236 seconds: completed 27900000 rows
236 seconds: completed 27950000 rows
237 seconds: completed 28000000 rows
237 seconds: completed 28050000 rows
237 seconds: completed 28100000 rows
238 seconds: completed 28150000 rows
238 seconds: completed 28200000 rows
239 seconds: completed 28250000 rows
239 seconds: completed 28300000 rows
239 seconds: completed 28350000 rows
240 seconds: completed 28400000 rows
240 seconds: completed 28450000 rows
241 seconds: completed 28500000 rows
241 seconds: completed 28550000 rows
242 seconds: completed 28600000 rows
242 seconds: completed 28650000 rows
243 seconds: completed 28700000 rows
243 seconds: completed 28750000 rows
244 seconds: completed 28800000 rows
244 seconds: completed 28850000 rows
245 seconds: completed 28900000 rows
245 seconds: completed 28950000 rows
245 seconds: completed 29000000 rows
246 seconds: completed 29050000 rows
246 seconds: completed 29100000 rows
247 seconds: completed 29150000 rows
247 seconds: completed 29200000 rows
248 seconds: completed 29250000 rows
248 seconds: completed 29300000 rows
249 seconds: completed 29350000 rows
249 seconds: completed 29400000 rows
250 seconds: completed 29450000 rows
250 seconds: completed 29500000 rows
251 seconds: completed 29550000 rows
251 seconds: completed 29600000 rows
252 seconds: completed 29650000 rows
252 seconds: completed 29700000 rows
253 seconds: completed 29750000 rows
253 seconds: completed 29800000 rows
254 seconds: completed 29850000 rows
254 seconds: completed 29900000 rows
255 seconds: completed 29950000 rows
255 seconds: completed 30000000 rows
256 seconds: completed 30050000 rows
257 seconds: completed 30100000 rows
257 seconds: completed 30150000 rows
258 seconds: completed 30200000 rows
258 seconds: completed 30250000 rows
258 seconds: completed 30300000 rows
259 seconds: completed 30350000 rows
259 seconds: completed 30400000 rows
260 seconds: completed 30450000 rows
260 seconds: completed 30500000 rows
261 seconds: completed 30550000 rows
261 seconds: completed 30600000 rows
261 seconds: completed 30650000 rows
262 seconds: completed 30700000 rows
262 seconds: completed 30750000 rows
263 seconds: completed 30800000 rows
263 seconds: completed 30850000 rows
263 seconds: completed 30900000 rows
264 seconds: completed 30950000 rows
264 seconds: completed 31000000 rows
265 seconds: completed 31050000 rows
265 seconds: completed 31100000 rows
266 seconds: completed 31150000 rows
266 seconds: completed 31200000 rows
266 seconds: completed 31250000 rows
267 seconds: completed 31300000 rows
267 seconds: completed 31350000 rows
268 seconds: completed 31400000 rows
268 seconds: completed 31450000 rows
268 seconds: completed 31500000 rows
269 seconds: completed 31550000 rows
269 seconds: completed 31600000 rows
270 seconds: completed 31650000 rows
270 seconds: completed 31700000 rows
271 seconds: completed 31750000 rows
271 seconds: completed 31800000 rows
271 seconds: completed 31850000 rows
272 seconds: completed 31900000 rows
272 seconds: completed 31950000 rows
273 seconds: completed 32000000 rows
273 seconds: completed 32050000 rows
273 seconds: completed 32100000 rows
274 seconds: completed 32150000 rows
274 seconds: completed 32200000 rows
275 seconds: completed 32250000 rows
275 seconds: completed 32300000 rows
276 seconds: completed 32350000 rows
276 seconds: completed 32400000 rows
276 seconds: completed 32450000 rows
277 seconds: completed 32500000 rows
277 seconds: completed 32550000 rows
278 seconds: completed 32600000 rows
278 seconds: completed 32650000 rows
279 seconds: completed 32700000 rows
279 seconds: completed 32750000 rows
280 seconds: completed 32800000 rows
280 seconds: completed 32850000 rows
281 seconds: completed 32900000 rows
281 seconds: completed 32950000 rows
281 seconds: completed 33000000 rows
282 seconds: completed 33050000 rows
282 seconds: completed 33100000 rows
283 seconds: completed 33150000 rows
283 seconds: completed 33200000 rows
284 seconds: completed 33250000 rows
284 seconds: completed 33300000 rows
285 seconds: completed 33350000 rows
285 seconds: completed 33400000 rows
286 seconds: completed 33450000 rows
286 seconds: completed 33500000 rows
286 seconds: completed 33550000 rows
287 seconds: completed 33600000 rows
287 seconds: completed 33650000 rows
287 seconds: completed 33700000 rows
288 seconds: completed 33750000 rows
288 seconds: completed 33800000 rows
289 seconds: completed 33850000 rows
289 seconds: completed 33900000 rows
289 seconds: completed 33950000 rows

290 seconds: completed 34000000 rows
290 seconds: completed 34050000 rows
290 seconds: completed 34100000 rows
291 seconds: completed 34150000 rows
291 seconds: completed 34200000 rows
292 seconds: completed 34250000 rows
292 seconds: completed 34300000 rows
292 seconds: completed 34350000 rows
293 seconds: completed 34400000 rows
293 seconds: completed 34450000 rows
293 seconds: completed 34500000 rows
294 seconds: completed 34550000 rows
294 seconds: completed 34600000 rows
295 seconds: completed 34650000 rows
295 seconds: completed 34700000 rows
295 seconds: completed 34750000 rows
296 seconds: completed 34800000 rows
296 seconds: completed 34850000 rows
297 seconds: completed 34900000 rows
297 seconds: completed 34950000 rows
298 seconds: completed 35000000 rows
298 seconds: completed 35050000 rows
298 seconds: completed 35100000 rows
299 seconds: completed 35150000 rows
299 seconds: completed 35200000 rows
300 seconds: completed 35250000 rows
300 seconds: completed 35300000 rows
301 seconds: completed 35350000 rows
301 seconds: completed 35400000 rows
301 seconds: completed 35450000 rows
302 seconds: completed 35500000 rows
302 seconds: completed 35550000 rows
303 seconds: completed 35600000 rows
303 seconds: completed 35650000 rows
304 seconds: completed 35700000 rows
304 seconds: completed 35750000 rows
304 seconds: completed 35800000 rows
305 seconds: completed 35850000 rows
305 seconds: completed 35900000 rows
306 seconds: completed 35950000 rows
306 seconds: completed 36000000 rows
307 seconds: completed 36050000 rows
307 seconds: completed 36100000 rows
307 seconds: completed 36150000 rows
308 seconds: completed 36200000 rows
308 seconds: completed 36250000 rows
309 seconds: completed 36300000 rows
309 seconds: completed 36350000 rows
310 seconds: completed 36400000 rows
310 seconds: completed 36450000 rows
311 seconds: completed 36500000 rows
311 seconds: completed 36550000 rows
312 seconds: completed 36600000 rows
312 seconds: completed 36650000 rows
313 seconds: completed 36700000 rows
313 seconds: completed 36750000 rows
314 seconds: completed 36800000 rows
314 seconds: completed 36850000 rows
315 seconds: completed 36900000 rows
315 seconds: completed 36950000 rows
316 seconds: completed 37000000 rows
316 seconds: completed 37050000 rows
316 seconds: completed 37100000 rows
317 seconds: completed 37150000 rows
317 seconds: completed 37200000 rows
318 seconds: completed 37250000 rows
318 seconds: completed 37300000 rows
319 seconds: completed 37350000 rows
319 seconds: completed 37400000 rows
320 seconds: completed 37450000 rows
320 seconds: completed 37500000 rows
321 seconds: completed 37550000 rows
321 seconds: completed 37600000 rows
322 seconds: completed 37650000 rows
322 seconds: completed 37700000 rows
323 seconds: completed 37750000 rows
323 seconds: completed 37800000 rows
323 seconds: completed 37850000 rows
324 seconds: completed 37900000 rows
324 seconds: completed 37950000 rows
325 seconds: completed 38000000 rows
325 seconds: completed 38050000 rows
325 seconds: completed 38100000 rows
326 seconds: completed 38150000 rows
326 seconds: completed 38200000 rows
327 seconds: completed 38250000 rows
327 seconds: completed 38300000 rows
328 seconds: completed 38350000 rows
328 seconds: completed 38400000 rows
329 seconds: completed 38450000 rows
329 seconds: completed 38500000 rows
329 seconds: completed 38550000 rows
330 seconds: completed 38600000 rows
330 seconds: completed 38650000 rows
331 seconds: completed 38700000 rows
331 seconds: completed 38750000 rows
332 seconds: completed 38800000 rows
332 seconds: completed 38850000 rows
332 seconds: completed 38900000 rows
333 seconds: completed 38950000 rows
333 seconds: completed 39000000 rows
334 seconds: completed 39050000 rows
334 seconds: completed 39100000 rows
334 seconds: completed 39150000 rows
335 seconds: completed 39200000 rows
335 seconds: completed 39250000 rows
336 seconds: completed 39300000 rows
336 seconds: completed 39350000 rows
337 seconds: completed 39400000 rows
337 seconds: completed 39450000 rows
337 seconds: completed 39500000 rows
338 seconds: completed 39550000 rows
338 seconds: completed 39600000 rows
339 seconds: completed 39650000 rows
339 seconds: completed 39700000 rows
340 seconds: completed 39750000 rows
340 seconds: completed 39800000 rows
340 seconds: completed 39850000 rows
341 seconds: completed 39900000 rows
341 seconds: completed 39950000 rows
342 seconds: completed 40000000 rows
342 seconds: completed 40050000 rows
343 seconds: completed 40100000 rows
343 seconds: completed 40150000 rows
343 seconds: completed 40200000 rows
344 seconds: completed 40250000 rows
344 seconds: completed 40300000 rows
345 seconds: completed 40350000 rows
345 seconds: completed 40400000 rows
346 seconds: completed 40450000 rows
346 seconds: completed 40500000 rows
347 seconds: completed 40550000 rows
347 seconds: completed 40600000 rows
347 seconds: completed 40650000 rows
348 seconds: completed 40700000 rows
348 seconds: completed 40750000 rows
349 seconds: completed 40800000 rows
349 seconds: completed 40850000 rows
350 seconds: completed 40900000 rows
350 seconds: completed 40950000 rows
350 seconds: completed 41000000 rows
351 seconds: completed 41050000 rows
351 seconds: completed 41100000 rows
351 seconds: completed 41150000 rows
352 seconds: completed 41200000 rows
352 seconds: completed 41250000 rows
352 seconds: completed 41300000 rows
353 seconds: completed 41350000 rows
353 seconds: completed 41400000 rows
353 seconds: completed 41450000 rows
354 seconds: completed 41500000 rows
354 seconds: completed 41550000 rows
355 seconds: completed 41600000 rows
355 seconds: completed 41650000 rows
355 seconds: completed 41700000 rows
356 seconds: completed 41750000 rows
356 seconds: completed 41800000 rows
357 seconds: completed 41850000 rows
357 seconds: completed 41900000 rows
357 seconds: completed 41950000 rows
358 seconds: completed 42000000 rows
358 seconds: completed 42050000 rows
358 seconds: completed 42100000 rows
359 seconds: completed 42150000 rows
359 seconds: completed 42200000 rows
360 seconds: completed 42250000 rows
360 seconds: completed 42300000 rows
361 seconds: completed 42350000 rows
361 seconds: completed 42400000 rows
361 seconds: completed 42450000 rows
362 seconds: completed 42500000 rows
362 seconds: completed 42550000 rows
363 seconds: completed 42600000 rows
363 seconds: completed 42650000 rows
364 seconds: completed 42700000 rows
364 seconds: completed 42750000 rows
364 seconds: completed 42800000 rows
365 seconds: completed 42850000 rows
365 seconds: completed 42900000 rows
366 seconds: completed 42950000 rows
366 seconds: completed 43000000 rows
366 seconds: completed 43050000 rows
367 seconds: completed 43100000 rows
367 seconds: completed 43150000 rows
368 seconds: completed 43200000 rows
368 seconds: completed 43250000 rows
369 seconds: completed 43300000 rows
369 seconds: completed 43350000 rows
370 seconds: completed 43400000 rows
370 seconds: completed 43450000 rows
370 seconds: completed 43500000 rows
371 seconds: completed 43550000 rows
371 seconds: completed 43600000 rows
372 seconds: completed 43650000 rows
372 seconds: completed 43700000 rows
373 seconds: completed 43750000 rows
373 seconds: completed 43800000 rows
374 seconds: completed 43850000 rows
374 seconds: completed 43900000 rows
374 seconds: completed 43950000 rows
375 seconds: completed 44000000 rows
375 seconds: completed 44050000 rows
376 seconds: completed 44100000 rows
376 seconds: completed 44150000 rows
377 seconds: completed 44200000 rows
377 seconds: completed 44250000 rows
377 seconds: completed 44300000 rows
378 seconds: completed 44350000 rows
378 seconds: completed 44400000 rows
379 seconds: completed 44450000 rows
379 seconds: completed 44500000 rows
380 seconds: completed 44550000 rows
380 seconds: completed 44600000 rows
381 seconds: completed 44650000 rows
381 seconds: completed 44700000 rows
381 seconds: completed 44750000 rows
382 seconds: completed 44800000 rows
382 seconds: completed 44850000 rows
383 seconds: completed 44900000 rows
383 seconds: completed 44950000 rows
384 seconds: completed 45000000 rows
384 seconds: completed 45050000 rows

384 seconds: completed 45100000 rows
385 seconds: completed 45150000 rows
385 seconds: completed 45200000 rows
386 seconds: completed 45250000 rows
386 seconds: completed 45300000 rows
386 seconds: completed 45350000 rows
387 seconds: completed 45400000 rows
387 seconds: completed 45450000 rows
388 seconds: completed 45500000 rows
388 seconds: completed 45550000 rows
389 seconds: completed 45600000 rows
389 seconds: completed 45650000 rows
389 seconds: completed 45700000 rows
390 seconds: completed 45750000 rows
390 seconds: completed 45800000 rows
391 seconds: completed 45850000 rows
391 seconds: completed 45900000 rows
391 seconds: completed 45950000 rows
392 seconds: completed 46000000 rows
392 seconds: completed 46050000 rows
393 seconds: completed 46100000 rows
393 seconds: completed 46150000 rows
393 seconds: completed 46200000 rows
394 seconds: completed 46250000 rows
394 seconds: completed 46300000 rows
395 seconds: completed 46350000 rows
395 seconds: completed 46400000 rows
396 seconds: completed 46450000 rows
396 seconds: completed 46500000 rows
396 seconds: completed 46550000 rows
397 seconds: completed 46600000 rows
397 seconds: completed 46650000 rows
398 seconds: completed 46700000 rows
398 seconds: completed 46750000 rows
399 seconds: completed 46800000 rows
399 seconds: completed 46850000 rows
399 seconds: completed 46900000 rows
400 seconds: completed 46950000 rows
400 seconds: completed 47000000 rows
401 seconds: completed 47050000 rows
401 seconds: completed 47100000 rows
401 seconds: completed 47150000 rows
402 seconds: completed 47200000 rows
402 seconds: completed 47250000 rows
403 seconds: completed 47300000 rows
403 seconds: completed 47350000 rows
404 seconds: completed 47400000 rows
404 seconds: completed 47450000 rows
404 seconds: completed 47500000 rows
405 seconds: completed 47550000 rows
405 seconds: completed 47600000 rows
406 seconds: completed 47650000 rows
406 seconds: completed 47700000 rows
406 seconds: completed 47750000 rows
407 seconds: completed 47800000 rows
407 seconds: completed 47850000 rows
408 seconds: completed 47900000 rows
408 seconds: completed 47950000 rows
409 seconds: completed 48000000 rows
409 seconds: completed 48050000 rows
409 seconds: completed 48100000 rows
410 seconds: completed 48150000 rows
410 seconds: completed 48200000 rows
411 seconds: completed 48250000 rows
411 seconds: completed 48300000 rows
411 seconds: completed 48350000 rows
412 seconds: completed 48400000 rows
412 seconds: completed 48450000 rows
413 seconds: completed 48500000 rows
413 seconds: completed 48550000 rows
414 seconds: completed 48600000 rows
414 seconds: completed 48650000 rows
414 seconds: completed 48700000 rows
415 seconds: completed 48750000 rows
415 seconds: completed 48800000 rows
416 seconds: completed 48850000 rows
416 seconds: completed 48900000 rows
417 seconds: completed 48950000 rows
417 seconds: completed 49000000 rows
417 seconds: completed 49050000 rows
418 seconds: completed 49100000 rows
418 seconds: completed 49150000 rows
419 seconds: completed 49200000 rows
419 seconds: completed 49250000 rows
419 seconds: completed 49300000 rows
420 seconds: completed 49350000 rows
420 seconds: completed 49400000 rows
421 seconds: completed 49450000 rows
421 seconds: completed 49500000 rows
422 seconds: completed 49550000 rows
422 seconds: completed 49600000 rows
422 seconds: completed 49650000 rows
423 seconds: completed 49700000 rows
423 seconds: completed 49750000 rows
424 seconds: completed 49800000 rows
424 seconds: completed 49850000 rows
425 seconds: completed 49900000 rows
425 seconds: completed 49950000 rows
425 seconds: completed 50000000 rows
426 seconds: completed 50050000 rows
426 seconds: completed 50100000 rows
427 seconds: completed 50150000 rows
427 seconds: completed 50200000 rows
428 seconds: completed 50250000 rows
428 seconds: completed 50300000 rows
428 seconds: completed 50350000 rows
429 seconds: completed 50400000 rows
429 seconds: completed 50450000 rows
430 seconds: completed 50500000 rows
430 seconds: completed 50550000 rows
430 seconds: completed 50600000 rows
431 seconds: completed 50650000 rows
431 seconds: completed 50700000 rows
432 seconds: completed 50750000 rows
432 seconds: completed 50800000 rows
432 seconds: completed 50850000 rows
433 seconds: completed 50900000 rows
433 seconds: completed 50950000 rows
434 seconds: completed 51000000 rows
434 seconds: completed 51050000 rows
435 seconds: completed 51100000 rows
435 seconds: completed 51150000 rows
435 seconds: completed 51200000 rows
436 seconds: completed 51250000 rows
436 seconds: completed 51300000 rows
437 seconds: completed 51350000 rows
437 seconds: completed 51400000 rows
437 seconds: completed 51450000 rows
438 seconds: completed 51500000 rows
438 seconds: completed 51550000 rows
439 seconds: completed 51600000 rows
439 seconds: completed 51650000 rows
439 seconds: completed 51700000 rows
440 seconds: completed 51750000 rows
440 seconds: completed 51800000 rows
440 seconds: completed 51850000 rows
441 seconds: completed 51900000 rows
441 seconds: completed 51950000 rows
442 seconds: completed 52000000 rows
442 seconds: completed 52050000 rows
442 seconds: completed 52100000 rows
443 seconds: completed 52150000 rows
443 seconds: completed 52200000 rows
443 seconds: completed 52250000 rows
444 seconds: completed 52300000 rows
444 seconds: completed 52350000 rows
445 seconds: completed 52400000 rows
445 seconds: completed 52450000 rows
445 seconds: completed 52500000 rows
446 seconds: completed 52550000 rows
446 seconds: completed 52600000 rows
447 seconds: completed 52650000 rows
447 seconds: completed 52700000 rows
447 seconds: completed 52750000 rows
448 seconds: completed 52800000 rows
448 seconds: completed 52850000 rows
449 seconds: completed 52900000 rows
449 seconds: completed 52950000 rows
450 seconds: completed 53000000 rows
450 seconds: completed 53050000 rows
450 seconds: completed 53100000 rows
451 seconds: completed 53150000 rows
451 seconds: completed 53200000 rows
452 seconds: completed 53250000 rows
452 seconds: completed 53300000 rows
452 seconds: completed 53350000 rows
453 seconds: completed 53400000 rows
453 seconds: completed 53450000 rows
454 seconds: completed 53500000 rows
454 seconds: completed 53550000 rows
455 seconds: completed 53600000 rows
455 seconds: completed 53650000 rows
456 seconds: completed 53700000 rows
456 seconds: completed 53750000 rows
456 seconds: completed 53800000 rows
457 seconds: completed 53850000 rows
457 seconds: completed 53900000 rows
458 seconds: completed 53950000 rows
458 seconds: completed 54000000 rows
459 seconds: completed 54050000 rows
459 seconds: completed 54100000 rows
460 seconds: completed 54150000 rows
460 seconds: completed 54200000 rows
460 seconds: completed 54250000 rows
461 seconds: completed 54300000 rows
461 seconds: completed 54350000 rows
462 seconds: completed 54400000 rows
462 seconds: completed 54450000 rows
462 seconds: completed 54500000 rows
463 seconds: completed 54550000 rows
463 seconds: completed 54600000 rows
464 seconds: completed 54650000 rows
464 seconds: completed 54700000 rows
464 seconds: completed 54750000 rows
465 seconds: completed 54800000 rows
465 seconds: completed 54850000 rows
466 seconds: completed 54900000 rows
466 seconds: completed 54950000 rows
466 seconds: completed 55000000 rows
467 seconds: completed 55050000 rows
467 seconds: completed 55100000 rows
468 seconds: completed 55150000 rows
468 seconds: completed 55200000 rows
468 seconds: completed 55250000 rows
469 seconds: completed 55300000 rows
469 seconds: completed 55350000 rows
469 seconds: completed 55400000 rows
470 seconds: completed 55450000 rows
470 seconds: completed 55500000 rows
471 seconds: completed 55550000 rows
471 seconds: completed 55600000 rows
472 seconds: completed 55650000 rows
472 seconds: completed 55700000 rows
472 seconds: completed 55750000 rows
473 seconds: completed 55800000 rows
473 seconds: completed 55850000 rows
474 seconds: completed 55900000 rows
474 seconds: completed 55950000 rows
475 seconds: completed 56000000 rows
475 seconds: completed 56050000 rows
476 seconds: completed 56100000 rows
476 seconds: completed 56150000 rows

477 seconds: completed 56200000 rows
478 seconds: completed 56250000 rows
478 seconds: completed 56300000 rows
479 seconds: completed 56350000 rows
479 seconds: completed 56400000 rows
480 seconds: completed 56450000 rows
481 seconds: completed 56500000 rows
481 seconds: completed 56550000 rows
482 seconds: completed 56600000 rows
483 seconds: completed 56650000 rows
483 seconds: completed 56700000 rows
484 seconds: completed 56750000 rows
484 seconds: completed 56800000 rows
485 seconds: completed 56850000 rows
485 seconds: completed 56900000 rows
486 seconds: completed 56950000 rows
486 seconds: completed 57000000 rows
486 seconds: completed 57050000 rows
487 seconds: completed 57100000 rows
487 seconds: completed 57150000 rows
488 seconds: completed 57200000 rows
488 seconds: completed 57250000 rows
489 seconds: completed 57300000 rows
489 seconds: completed 57350000 rows
489 seconds: completed 57400000 rows
490 seconds: completed 57450000 rows
490 seconds: completed 57500000 rows
491 seconds: completed 57550000 rows
491 seconds: completed 57600000 rows
492 seconds: completed 57650000 rows
492 seconds: completed 57700000 rows
492 seconds: completed 57750000 rows
493 seconds: completed 57800000 rows
493 seconds: completed 57850000 rows
494 seconds: completed 57900000 rows
494 seconds: completed 57950000 rows
495 seconds: completed 58000000 rows
495 seconds: completed 58050000 rows
495 seconds: completed 58100000 rows
496 seconds: completed 58150000 rows
496 seconds: completed 58200000 rows
497 seconds: completed 58250000 rows
497 seconds: completed 58300000 rows
497 seconds: completed 58350000 rows
498 seconds: completed 58400000 rows
498 seconds: completed 58450000 rows
499 seconds: completed 58500000 rows
499 seconds: completed 58550000 rows
500 seconds: completed 58600000 rows
500 seconds: completed 58650000 rows
500 seconds: completed 58700000 rows
501 seconds: completed 58750000 rows
501 seconds: completed 58800000 rows
502 seconds: completed 58850000 rows
502 seconds: completed 58900000 rows
503 seconds: completed 58950000 rows
503 seconds: completed 59000000 rows
504 seconds: completed 59050000 rows
504 seconds: completed 59100000 rows
504 seconds: completed 59150000 rows
505 seconds: completed 59200000 rows
505 seconds: completed 59250000 rows
506 seconds: completed 59300000 rows
506 seconds: completed 59350000 rows
507 seconds: completed 59400000 rows
507 seconds: completed 59450000 rows
508 seconds: completed 59500000 rows
508 seconds: completed 59550000 rows
508 seconds: completed 59600000 rows
509 seconds: completed 59650000 rows
509 seconds: completed 59700000 rows
510 seconds: completed 59750000 rows
510 seconds: completed 59800000 rows
511 seconds: completed 59850000 rows
511 seconds: completed 59900000 rows
511 seconds: completed 59950000 rows
512 seconds: completed 60000000 rows
512 seconds: completed 60050000 rows
513 seconds: completed 60100000 rows
513 seconds: completed 60150000 rows
514 seconds: completed 60200000 rows
514 seconds: completed 60250000 rows
514 seconds: completed 60300000 rows
515 seconds: completed 60350000 rows
515 seconds: completed 60400000 rows
516 seconds: completed 60450000 rows
516 seconds: completed 60500000 rows
517 seconds: completed 60550000 rows
517 seconds: completed 60600000 rows
517 seconds: completed 60650000 rows
518 seconds: completed 60700000 rows
518 seconds: completed 60750000 rows
519 seconds: completed 60800000 rows
519 seconds: completed 60850000 rows
520 seconds: completed 60900000 rows
520 seconds: completed 60950000 rows
520 seconds: completed 61000000 rows
521 seconds: completed 61050000 rows
521 seconds: completed 61100000 rows
522 seconds: completed 61150000 rows
522 seconds: completed 61200000 rows
523 seconds: completed 61250000 rows
523 seconds: completed 61300000 rows
523 seconds: completed 61350000 rows
524 seconds: completed 61400000 rows
524 seconds: completed 61450000 rows
525 seconds: completed 61500000 rows
525 seconds: completed 61550000 rows
526 seconds: completed 61600000 rows
526 seconds: completed 61650000 rows
526 seconds: completed 61700000 rows
527 seconds: completed 61750000 rows
527 seconds: completed 61800000 rows
528 seconds: completed 61850000 rows
528 seconds: completed 61900000 rows
529 seconds: completed 61950000 rows
529 seconds: completed 62000000 rows
530 seconds: completed 62050000 rows
530 seconds: completed 62100000 rows
531 seconds: completed 62150000 rows
531 seconds: completed 62200000 rows
532 seconds: completed 62250000 rows
532 seconds: completed 62300000 rows
532 seconds: completed 62350000 rows
533 seconds: completed 62400000 rows
533 seconds: completed 62450000 rows
534 seconds: completed 62500000 rows
534 seconds: completed 62550000 rows
535 seconds: completed 62600000 rows
535 seconds: completed 62650000 rows
535 seconds: completed 62700000 rows
536 seconds: completed 62750000 rows
536 seconds: completed 62800000 rows
537 seconds: completed 62850000 rows
537 seconds: completed 62900000 rows
538 seconds: completed 62950000 rows
538 seconds: completed 63000000 rows
538 seconds: completed 63050000 rows
539 seconds: completed 63100000 rows
539 seconds: completed 63150000 rows
540 seconds: completed 63200000 rows
540 seconds: completed 63250000 rows
540 seconds: completed 63300000 rows
541 seconds: completed 63350000 rows
541 seconds: completed 63400000 rows
542 seconds: completed 63450000 rows
542 seconds: completed 63500000 rows
543 seconds: completed 63550000 rows
543 seconds: completed 63600000 rows
543 seconds: completed 63650000 rows
544 seconds: completed 63700000 rows
544 seconds: completed 63750000 rows
545 seconds: completed 63800000 rows
545 seconds: completed 63850000 rows
546 seconds: completed 63900000 rows
546 seconds: completed 63950000 rows
547 seconds: completed 64000000 rows
547 seconds: completed 64050000 rows
547 seconds: completed 64100000 rows
548 seconds: completed 64150000 rows
548 seconds: completed 64200000 rows
549 seconds: completed 64250000 rows
549 seconds: completed 64300000 rows
549 seconds: completed 64350000 rows
550 seconds: completed 64400000 rows
550 seconds: completed 64450000 rows
551 seconds: completed 64500000 rows
551 seconds: completed 64550000 rows
552 seconds: completed 64600000 rows
552 seconds: completed 64650000 rows
553 seconds: completed 64700000 rows
553 seconds: completed 64750000 rows
553 seconds: completed 64800000 rows
554 seconds: completed 64850000 rows
554 seconds: completed 64900000 rows
555 seconds: completed 64950000 rows
556 seconds: completed 65000000 rows
556 seconds: completed 65050000 rows
557 seconds: completed 65100000 rows
557 seconds: completed 65150000 rows
558 seconds: completed 65200000 rows
558 seconds: completed 65250000 rows
559 seconds: completed 65300000 rows
559 seconds: completed 65350000 rows
560 seconds: completed 65400000 rows
560 seconds: completed 65450000 rows
561 seconds: completed 65500000 rows
561 seconds: completed 65550000 rows
562 seconds: completed 65600000 rows
563 seconds: completed 65650000 rows
563 seconds: completed 65700000 rows
564 seconds: completed 65750000 rows
564 seconds: completed 65800000 rows
565 seconds: completed 65850000 rows
565 seconds: completed 65900000 rows
566 seconds: completed 65950000 rows
566 seconds: completed 66000000 rows
567 seconds: completed 66050000 rows
568 seconds: completed 66100000 rows
568 seconds: completed 66150000 rows
569 seconds: completed 66200000 rows
569 seconds: completed 66250000 rows
570 seconds: completed 66300000 rows
571 seconds: completed 66350000 rows
571 seconds: completed 66400000 rows
572 seconds: completed 66450000 rows
572 seconds: completed 66500000 rows
573 seconds: completed 66550000 rows
573 seconds: completed 66600000 rows
573 seconds: completed 66650000 rows
574 seconds: completed 66700000 rows
574 seconds: completed 66750000 rows
575 seconds: completed 66800000 rows
575 seconds: completed 66850000 rows
576 seconds: completed 66900000 rows
576 seconds: completed 66950000 rows
576 seconds: completed 67000000 rows
577 seconds: completed 67050000 rows
577 seconds: completed 67100000 rows
578 seconds: completed 67150000 rows
578 seconds: completed 67200000 rows
579 seconds: completed 67250000 rows

579 seconds: completed 67300000 rows
579 seconds: completed 67350000 rows
580 seconds: completed 67400000 rows
580 seconds: completed 67450000 rows
581 seconds: completed 67500000 rows
581 seconds: completed 67550000 rows
581 seconds: completed 67600000 rows
582 seconds: completed 67650000 rows
582 seconds: completed 67700000 rows
583 seconds: completed 67750000 rows
583 seconds: completed 67800000 rows
584 seconds: completed 67850000 rows
584 seconds: completed 67900000 rows
585 seconds: completed 67950000 rows
585 seconds: completed 68000000 rows
586 seconds: completed 68050000 rows
586 seconds: completed 68100000 rows
586 seconds: completed 68150000 rows
587 seconds: completed 68200000 rows
587 seconds: completed 68250000 rows
588 seconds: completed 68300000 rows
588 seconds: completed 68350000 rows
589 seconds: completed 68400000 rows
589 seconds: completed 68450000 rows
589 seconds: completed 68500000 rows
590 seconds: completed 68550000 rows
590 seconds: completed 68600000 rows
591 seconds: completed 68650000 rows
591 seconds: completed 68700000 rows
592 seconds: completed 68750000 rows
592 seconds: completed 68800000 rows
592 seconds: completed 68850000 rows
593 seconds: completed 68900000 rows
593 seconds: completed 68950000 rows
594 seconds: completed 69000000 rows
594 seconds: completed 69050000 rows
595 seconds: completed 69100000 rows
595 seconds: completed 69150000 rows
595 seconds: completed 69200000 rows
596 seconds: completed 69250000 rows
596 seconds: completed 69300000 rows
597 seconds: completed 69350000 rows
597 seconds: completed 69400000 rows
598 seconds: completed 69450000 rows
598 seconds: completed 69500000 rows
598 seconds: completed 69550000 rows
599 seconds: completed 69600000 rows
599 seconds: completed 69650000 rows
600 seconds: completed 69700000 rows
600 seconds: completed 69750000 rows
601 seconds: completed 69800000 rows
601 seconds: completed 69850000 rows

In [51]:
df = pd.read_sql_query('SELECT * FROM data7 LIMIT 3', disk_engine)
df.head()

,index,Title_raw,Title_norm,Category_id
0,1,Assistant Project Manager,Project Manager,1
1,2,Procurement Admin Assistant – Immediate Start,Administrative Assistant,27
2,3,Training and Development Manager,Corporate Training Manager,26

In [ ]:
df = df4 = pd.read_sql_query('SELECT Title_norm, COUNT(*) as `num_jobs`'
                       'FROM data2 '
                       'GROUP BY Title_norm', disk_engine)

In [131]:
pd.read_sql_query('SELECT * FROM data12 LIMIT 30', disk_engine2)

,index,Year,Title_raw,Title_norm,Category_id,Location_name,Skills
0,385,2015,"C++, Cyber Security Analyst x 5",Cyber Security Analyst,IT Jobs,"South East England,Oxfordshire,Banbury","Cyber Security,Cyber Security,Security,Hardwar..."
1,2239,2015,EnCase Enterprise / EnCase Cybersecurity consu...,Cyber Security Consultant,IT Jobs,"London,South East London","Incident Response,Assertiveness"
2,9474,2015,Network NOC Analyst move in2 Cyber Security Ops,Cyber Security Analyst,IT Jobs,None,"NOC,Cyber Security,FTSE 100,Security,Network O..."
3,10301,2015,Network NOC Analyst move in2 Cyber Security Ops,Cyber Security Analyst,IT Jobs,"South East England,Hampshire,Fareham","NOC,Cyber Security,FTSE 100,Security,Network O..."
4,35834,2015,"Cyber Security Consultant- (Energy, Oil, Gas, ...",Cyber Security Consultant,IT Jobs,"South East England,Surrey,Guildford","Cyber Security,Energy,Gas,CISSP,GIAC,Cyber Sec..."
5,39679,2015,"R&amp;D Analyst, Cyber Security, Malware, Reve...",Cyber Security Analyst,IT Jobs,"West Midlands,Warwickshire","R,Research,Cyber Security,Malware,Analysis,Rev..."
6,40478,2015,"Cyber Security Consultant- (Energy, Oil, Gas, ...",Cyber Security Consultant,IT Jobs,"London,South East London","Cyber Security,Energy,Gas,CISSP,GIAC,Cyber Sec..."
7,44733,2015,Network NOC Analyst move in2 Cyber Security Ops,Cyber Security Analyst,IT Jobs,None,"NOC,Cyber Security,FTSE 100,Security,Network O..."
8,46263,2015,Management Consultant - Cyber security,Cyber Security Consultant,IT Jobs,London,"Cyber Security,Security Practices,Consulting,C..."
9,98131,2015,Cyber Security Consultants,Cyber Security Consultant,IT Jobs,None,"CGI,Cyber Security,DV,Science,Engineering,Math..."
10,102489,2015,"Cyber Security Consultant, Digital Security Co...",Cyber Security Consultant,IT Jobs,London,"Security,Cyber Security,Government,Government,..."
11,105183,2015,Cyber Security Industrial Control Systems Cons...,Cyber Security Analyst,IT Jobs,London,"Cyber Security,Control Systems,CISSP,SCADA,Sec..."
12,105666,2015,Cyber Security Consultant - SCADA & Industrial...,Cyber Security Consultant,Other/General Jobs,London,"Cyber Security,SCADA,SCADA,Control Systems"
13,110907,2015,Cyber Security Consultant,Cyber Security Consultant,IT Jobs,"London,Central London,The City","Cyber Security,Policy,Cyber Security,Design Do..."
14,112227,2015,Cyber Security Incident Response Team Engineer...,Cyber Security Analyst,IT Jobs,"London,South East London","Cyber Security,Incident Response,Engineering,C..."
15,117656,2015,Regional Account Manager Cyber Security Manage...,Cyber Security Manager,Sales Jobs,South East England,"Account Management,Cyber Security,Managed Serv..."
16,119055,2015,Cyber Security Analyst - Brentwood - 12 month ...,Cyber Security Analyst,Other/General Jobs,"Eastern England,Essex,Brentwood","Cyber Security,Cyber Security,Manufacturing"
17,127942,2015,"Java/PHP Developer, get in2 Cyber Security Big...",Cyber Security Analyst,IT Jobs,"West Midlands,Warwickshire","Java,PHP,Cyber Security,Big Data,NoSQL,Securit..."
18,128297,2015,Cyber Security Analyst,Cyber Security Analyst,IT Jobs,London,"Cyber Security,Cyber Security,Consulting,Cyber..."
19,133815,2015,Graduate Cyber Security Analyst,Cyber Security Analyst,IT Jobs,"South West England,Gloucestershire,Cheltenham","Cyber Security,Cyber Security,Security,Securit..."
20,138536,2015,PROJECT MANAGER - CYBER SECURITY - BANKING - L...,Cyber Security Manager,IT Jobs,"London,South East London","Project Management,Cyber Security,Large Scale,..."
21,242479,2015,C++ Developer - Cyber Security,Cyber Security Analyst,IT Jobs,"East Midlands,Leicestershire,Leicester","C++,Cyber Security,Mobile Technology,Healthcar..."
22,246788,2015,CIB Cyber Security - Mainframe Privileged Acce...,Cyber Security Analyst,Accounting & Finance Jobs,London,"Integrity,Data,Information Security,Investment..."
23,249633,2015,"R&amp;D Analyst, Cyber Security, Malware, Reve...",Cyber Security Analyst,IT Jobs,"West Midlands,Birmingham","R,Research,Cyber Security,Malware,Analysis,Rev..."
24,252660,2015,"Cyber Security Consultant, Digital Security Co...",Cyber Security Consultant,Other/General Jobs,London,"Security,Cyber Security,Government,Government,..."
25,254304,2015,Cyber Security Malware Developer,Cyber Security Analyst,IT Jobs,"South East England,Hampshire","Cyber Security,Malware,Security Operations,DV,..."
26,258418,2015,Cyber Security Technical Investigator,Cyber Security Analyst,Other/General Jobs,"South East England,Surrey,Guildford","Cyber Security,DV,Security,Security,Security,T..."
27,265867,2015,Cyber Security Manager,Cyber Security Manager,IT Jobs,"London,West London","Cyber Security,Sewage,Construction,Constructio..."
28,268531,2015,Cyber Security Incident Analyst Job,Cyber Security Analyst,Engineering Jobs,London,"Financial Products,Real Estate,Inventory,Finan..."
29,276256,2015,Cyber Security Consultant,Cyber Security Consultant,Consultancy Jobs,London,"Solutions,Solutions,Large Scale,Data,Security,..."

In [129]:
dff1 = pd.read_sql_query('SELECT Title_norm, COUNT(*) as `num_jobs`'
                       'FROM data12 '
                       'GROUP BY Title_norm '
                        'ORDER BY -num_jobs', disk_engine2)

In [127]:
dff1

                  Title_norm  num_jobs
0     Cyber Security Analyst     20752
1   Cyber Security Architect      2132
2  Cyber Security Consultant      6848
3    Cyber Security Engineer      2308
4     Cyber Security Manager      3991

In [130]:
import plotly.graph_objs as go

trace = go.Pie(labels=dff1.Title_norm, values=dff1.num_jobs)            

py.iplot([trace], filename='basic_pie_chart1')

/Users/kamakshibansal/anaconda3/lib/python3.7/site-packages/IPython/core/display.py:689: UserWarning:

Consider using IPython.display.IFrame instead

In [179]:
dff2 = pd.read_sql_query('SELECT Year, COUNT(*) as `num_tot`'
                       'FROM data12 '
                        'WHERE Title_norm = "Cyber Security Analyst" '
                       'GROUP BY Year '
                        'ORDER BY  Year', disk_engine2)

In [180]:
dff2

   Year  num_tot
0  2015     3113
1  2016     3836
2  2017     4957
3  2018     8846

In [181]:
trace0 = go.Scatter(
    x = dff2.Year,
    y = dff2.num_tot,
    name = 'Cyber Security Analyst',
    line = dict(
        color = ('rgb(205, 12, 24)'),
        width = 4)
     )
# Edit the layout
layout = dict(title = 'Cyber Security Analyst',
              xaxis = dict(title = 'Year'),
              yaxis = dict(title = 'Total number of jobs'),
              )

In [182]:
data = [trace0]
fig = dict(data=data, layout=layout)
py.iplot(fig, filename='basic-line')

/Users/kamakshibansal/anaconda3/lib/python3.7/site-packages/IPython/core/display.py:689: UserWarning:

Consider using IPython.display.IFrame instead

In [194]:
dff3 = pd.read_sql_query('SELECT Year, COUNT(*) as `num_tot`'
                       'FROM data12 '
                        'WHERE Title_norm = "Cyber Security Architect" '
                       'GROUP BY Year '
                        'ORDER BY Year', disk_engine2)
trace1 = go.Scatter(
    x = [2015,2016,2017,2018],
    y = dff3.num_tot,
    name = 'Cyber Security Architect',
    line = dict(
        color = ('rgb(231,107,243)'),
        width = 4)
     )
# Edit the layout
layout = dict(title = 'Cyber Security Architect',
              xaxis = dict(title = 'Year'),
              yaxis = dict(title = 'Total number of jobs'),
              )

data = [trace1]
fig = dict(data=data, layout=layout)
py.iplot(fig, filename='basic-line')

/Users/kamakshibansal/anaconda3/lib/python3.7/site-packages/IPython/core/display.py:689: UserWarning:

Consider using IPython.display.IFrame instead

In [184]:
dff3

   Year  num_tot
0  2015      391
1  2016      551
2  2017      576
3  2018      614

In [189]:
dff4 = pd.read_sql_query('SELECT Year, COUNT(*) as `num_tot`'
                       'FROM data12 '
                        'WHERE Title_norm = "Cyber Security Consultant" '
                       'GROUP BY Year '
                        'ORDER BY Year', disk_engine2)
trace2 = go.Scatter(
    x = [2015,2016,2017,2018],
    y = dff4.num_tot,
    name = 'Cyber Security Consultant',
    line = dict(
        color = ('rgb(214, 104, 40)'),
        width = 4)
     )
# Edit the layout
layout = dict(title = 'Cyber Security Consultant',
              xaxis = dict(title = 'Year'),
              yaxis = dict(title = 'Total number of jobs'),
              )

data = [trace2]
fig = dict(data=data, layout=layout)
py.iplot(fig, filename='basic-line')

/Users/kamakshibansal/anaconda3/lib/python3.7/site-packages/IPython/core/display.py:689: UserWarning:

Consider using IPython.display.IFrame instead

In [172]:
dff4

   Year  num_tot
0  2018     2386
1  2016     1786
2  2017     1637
3  2015     1039

In [175]:
dff5 = pd.read_sql_query('SELECT Year, COUNT(*) as `num_tot`'
                       'FROM data12 '
                        'WHERE Title_norm = "Cyber Security Engineer" '
                       'GROUP BY Year '
                        'ORDER BY Year', disk_engine2)
trace3 = go.Scatter(
    x = dff5.Year,
    y = dff5.num_tot,
    name = 'Cyber Security Engineer',
    line = dict(
        color = ('rgb(114, 104, 40)'),
        width = 4)
     )
# Edit the layout
layout = dict(title = 'Cyber Security Engineer',
              xaxis = dict(title = 'Year'),
              yaxis = dict(title = 'Total number of jobs'),
              )

data = [trace3]
fig = dict(data=data, layout=layout)
py.iplot(fig, filename='basic-line')

/Users/kamakshibansal/anaconda3/lib/python3.7/site-packages/IPython/core/display.py:689: UserWarning:

Consider using IPython.display.IFrame instead

In [176]:
dff5

   Year  num_tot
0  2015      158
1  2016      437
2  2017      624
3  2018     1089

In [186]:
dff6 = pd.read_sql_query('SELECT Year, COUNT(*) as `num_tot`'
                       'FROM data12 '
                        'WHERE Title_norm = "Cyber Security Manager" '
                       'GROUP BY Year '
                        'ORDER BY Year', disk_engine2)
trace4 = go.Scatter(
    x = dff6.Year,
    y = dff6.num_tot,
    name = 'Cyber Security Manager',
    line = dict(
        color = ('rgb(236, 151, 40)'),
        width = 4)
     )
# Edit the layout
layout = dict(title = 'Cyber Security Manager',
              xaxis = dict(title = 'Year'),
              yaxis = dict(title = 'Total number of jobs'),
              )

data = [trace4]
fig = dict(data=data, layout=layout)
py.iplot(fig, filename='basic-line')

/Users/kamakshibansal/anaconda3/lib/python3.7/site-packages/IPython/core/display.py:689: UserWarning:

Consider using IPython.display.IFrame instead

In [178]:
dff6

   Year  num_tot
0  2015      485
1  2016      777
2  2017     1200
3  2018     1529

In [195]:
layout = dict(title = 'Cyber Security Jobs',
              xaxis = dict(title = 'Year'),
              yaxis = dict(title = 'Total number of jobs'),
              )

data = [trace0, trace1,trace2, trace3,trace4]
fig = dict(data=data, layout=layout)
py.iplot(fig, filename='basic-line')

/Users/kamakshibansal/anaconda3/lib/python3.7/site-packages/IPython/core/display.py:689: UserWarning:

Consider using IPython.display.IFrame instead

In [101]:
df.to_csv("Check.csv")

In [116]:
df.shape

(47286, 6)

In [67]:
df

,Title_raw,Title_norm,Category_id
1,Assistant Project Manager,Project Manager,1
2,Procurement Admin Assistant – Immediate Start,Administrative Assistant,27
3,Training and Development Manager,Corporate Training Manager,26
4,s ales Administrator,Administrator,28
5,Assistant Accountant,Accounting Assistant,2
6,Search And Display Executive,Executive,6
7,Business Opportunity Sales Advisors Installers...,Sales Adviser,25
8,Part time Sales,NaN,7
9,Kitchen a ssistants b elfast City Centre,NaN,8
10,Senior Citrix Engineer,Citrix Engineer,9
11,Maintenance Electrician - Day shift,Maintenance Electrician,10
12,Exhibition Sales And Sponsorship Executive,Executive,11
13,Internal Sales,Internal Sales Representative,12
14,Network Support,IT Network Administrator,13
15,Legal Secretary,Legal Secretary,14
16,Key Accounts Sales Executive,Sales Executive,17
17,Electrical / Mechanical Technician,Electrical Mechanical Technician,19
18,Team Leader Logistics,Logistics Team Leader,21
19,"Projects Finance Solicitor, Belfast",Solicitor,23
20,Tax Accountant,Tax Accountant,16
21,Trading Manager,Trading Manager,22
22,Accounts Assistant - Payroll (20HPW),Payroll Accounts Assistant,24
23,Audit Senior Manager,Financial Auditor,18
24,BI Developer Contract,BI Developer,20
25,IS COB & Controls Sr Analyst,Controller,176
26,Committee Support Administrator / Office Manag...,Office Manager Administrator,29
27,Senior IT / IT Manager,IT Manager,3
28,Accounts Assistant - Property Administrator,Real Estate Manager,Trade & Construction Jobs
29,IT Manager,IT Manager,4
30,Self-Employed Business Development Manager- Be...,Business Development Manager,Sales Jobs
31,Corporate Tax,NaN,Unknown
32,"Italian Speaker - Not Call Centre, £18,000",NaN,HR & Recruitment Jobs
33,Customer Service Advisor - Immediate Starts,Customer Service Adviser,Customer Services Jobs
34,Call advisor,Adviser,HR & Recruitment Jobs
35,Applications Architect/Lead,Software Architect,Unknown
36,Business Analyst,Business Analyst,Accounting & Finance Jobs
37,"Nurse Manager, £38kbonus potential",Nurse Manager,Unknown
38,Data and Fibre Engineers,Engineer,Engineering Jobs
39,Business Support a ssistant,NaN,Accounting & Finance Jobs
40,Enquiry Centre Advisor - Belfast,Adviser,Customer Services Jobs
41,HR Assistant - 6 month contract,Human Resources Assistant,HR & Recruitment Jobs
42,Senior Research Consultant,Business Intelligence Manager,HR & Recruitment Jobs
43,Photogrammetrists x 5,NaN,HR & Recruitment Jobs
44,General Manager - Belfast,General Manager,Hospitality & Catering Jobs
45,CLERICAL OFFICER - HEAD OFFICE DUNMURRY - 375H...,Administration Officer,Unknown
46,SQL Server DBA,SQL Server Database Administrator,IT Jobs
47,Design Technician - Belfast,Design Technician,Engineering Jobs
48,Cyber Security Researchers Belfast,Cyber Security Analyst,HR & Recruitment Jobs
49,Cyber Security Senior Manager - Northern Ireland,Cyber Security Manager,IT Jobs
50,IT Recruitment Consultant - Cyber Security,Cyber Security Consultant,HR & Recruitment Jobs
51,Senior Cyber Security Engineer,Cyber Security Engineer,IT Jobs

In [107]:
filtered_df = df[pd.notnull(df['Title_norm'])]
# filtered_df = df.dropna(subset=['Title_norm'])

In [108]:
filtered_df

,Title_raw,Title_norm,Category_id
1,Assistant Project Manager,Project Manager,1
2,Procurement Admin Assistant – Immediate Start,Administrative Assistant,27
3,Training and Development Manager,Corporate Training Manager,26
4,s ales Administrator,Administrator,28
5,Assistant Accountant,Accounting Assistant,2
6,Search And Display Executive,Executive,6
7,Business Opportunity Sales Advisors Installers...,Sales Adviser,25
10,Senior Citrix Engineer,Citrix Engineer,9
11,Maintenance Electrician - Day shift,Maintenance Electrician,10
12,Exhibition Sales And Sponsorship Executive,Executive,11
13,Internal Sales,Internal Sales Representative,12
14,Network Support,IT Network Administrator,13
15,Legal Secretary,Legal Secretary,14
16,Key Accounts Sales Executive,Sales Executive,17
17,Electrical / Mechanical Technician,Electrical Mechanical Technician,19
18,Team Leader Logistics,Logistics Team Leader,21
19,"Projects Finance Solicitor, Belfast",Solicitor,23
20,Tax Accountant,Tax Accountant,16
21,Trading Manager,Trading Manager,22
22,Accounts Assistant - Payroll (20HPW),Payroll Accounts Assistant,24
23,Audit Senior Manager,Financial Auditor,18
24,BI Developer Contract,BI Developer,20
25,IS COB & Controls Sr Analyst,Controller,176
26,Committee Support Administrator / Office Manag...,Office Manager Administrator,29
27,Senior IT / IT Manager,IT Manager,3
28,Accounts Assistant - Property Administrator,Real Estate Manager,Trade & Construction Jobs
29,IT Manager,IT Manager,4
30,Self-Employed Business Development Manager- Be...,Business Development Manager,Sales Jobs
33,Customer Service Advisor - Immediate Starts,Customer Service Adviser,Customer Services Jobs
34,Call advisor,Adviser,HR & Recruitment Jobs
35,Applications Architect/Lead,Software Architect,Unknown
36,Business Analyst,Business Analyst,Accounting & Finance Jobs
37,"Nurse Manager, £38kbonus potential",Nurse Manager,Unknown
38,Data and Fibre Engineers,Engineer,Engineering Jobs
40,Enquiry Centre Advisor - Belfast,Adviser,Customer Services Jobs
41,HR Assistant - 6 month contract,Human Resources Assistant,HR & Recruitment Jobs
42,Senior Research Consultant,Business Intelligence Manager,HR & Recruitment Jobs
44,General Manager - Belfast,General Manager,Hospitality & Catering Jobs
45,CLERICAL OFFICER - HEAD OFFICE DUNMURRY - 375H...,Administration Officer,Unknown
46,SQL Server DBA,SQL Server Database Administrator,IT Jobs
47,Design Technician - Belfast,Design Technician,Engineering Jobs
48,Cyber Security Researchers Belfast,Cyber Security Analyst,HR & Recruitment Jobs
49,Cyber Security Senior Manager - Northern Ireland,Cyber Security Manager,IT Jobs
50,IT Recruitment Consultant - Cyber Security,Cyber Security Consultant,HR & Recruitment Jobs
51,Senior Cyber Security Engineer,Cyber Security Engineer,IT Jobs

In [109]:
filtered_df.shape

(45, 3)

In [82]:
filtered_df.to_csv("BN.csv")

In [110]:
is_cyber= ((filtered_df.Title_norm=="Cyber Security Analyst")|(filtered_df.Title_norm=="Cyber Security Consultant")|(filtered_df.Title_norm=="Cyber Security Manager")|(filtered_df.Title_norm=="Cyber Security Architect")|(filtered_df.Title_norm=="Cyber Security Engineer"))

In [111]:
dff=filtered_df[is_cyber]

In [112]:
dff

,Title_raw,Title_norm,Category_id
48,Cyber Security Researchers Belfast,Cyber Security Analyst,HR & Recruitment Jobs
49,Cyber Security Senior Manager - Northern Ireland,Cyber Security Manager,IT Jobs
50,IT Recruitment Consultant - Cyber Security,Cyber Security Consultant,HR & Recruitment Jobs
51,Senior Cyber Security Engineer,Cyber Security Engineer,IT Jobs

In [113]:
dff.shape

(4, 3)

In [ ]:
df = pd.DataFrame({'A': ['AV', 'AV Snow', 'Test', 'AV (Some)',
                         'Nothing', 'Me AV', 'Available', 'NA']})

df = df[df['A'].str.contains('AV', regex=False, case=False, na=False)]

In [71]:
dff=filtered_df['Title_norm'].str.contains('Cyber')

In [72]:
dff

1     False
2     False
3     False
4     False
5     False
6     False
7     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
33    False
34    False
35    False
36    False
37    False
38    False
40    False
41    False
42    False
44    False
45    False
46    False
47    False
48     True
49     True
50     True
51     True
Name: Title_norm, dtype: bool

In [ ]:
df = pd.read_sql_query('SELECT Title_raw, Title_norm FROM data LIMIT 3', disk_engine)
df.head()

In [ ]:
df = pd.read_sql_query('SELECT Title_raw, Title_norm, Category_id '
                       'FROM data '
                       'LIMIT 10', disk_engine)
df

In [ ]:
df = pd.read_sql_query('SELECT Year, Title_raw, Title_norm '
                       'FROM data '
                       'WHERE Year = "2016" '
                       'LIMIT 10', disk_engine)
df.head()

In [ ]:
df1 = pd.read_sql_query('SELECT DISTINCT Title_norm FROM data', disk_engine)
# df.head(20)

In [ ]:
df1

In [ ]:
df1.to_csv("Distinct_TitleNorm.csv")

In [ ]:
df6 = pd.read_sql_query('SELECT Title_norm, COUNT(*) as `num_jobs`'
                       'FROM data '
                       'GROUP BY Title_norm ', disk_engine)

In [ ]:
df6

In [ ]:
df.to_csv("Group_by_TitleNorm.csv")

In [21]:
import plotly 

plotly.tools.set_credentials_file(username='Kamakshi22', api_key='6Y223yUxn9719hjOgSCd')

In [ ]:
df = pd.read_sql_query('SELECT Title_norm, COUNT(*) as `num_jobs`'
                       'FROM data '
                       'GROUP BY Title_norm '
                       'ORDER BY -num_jobs', disk_engine)

In [ ]:
py.iplot([Bar(x=df.Title_norm, y=df.num_jobs)], filename='ABC')

In [ ]:
df2 = pd.read_sql_query('SELECT Title_raw, COUNT(*) as `num_jobs`'
                       'FROM data '
                       'GROUP BY Title_raw ', disk_engine)

# df.head()

In [ ]:
df2.to_csv("Group_by_TitleRaw.csv")

In [ ]:
df2

In [ ]:
df3 = pd.read_sql_query('SELECT Category_id, Title_norm, Title_raw, COUNT(*) as `num_jobs`'
                       'FROM data '
                       'GROUP BY Title_raw ', disk_engine)

In [ ]:
df3

In [ ]:
df3.to_csv("Title_raw_group.csv")

In [27]:
df4 = pd.read_sql_query('SELECT Category_id, Title_raw, Title_norm, COUNT(*) as `num_jobs`'
                       'FROM data2 '
                       'GROUP BY Title_norm', disk_engine)

In [28]:
df4.to_csv("Title_Norm_group.csv")

In [24]:
df5 = pd.read_sql_query('SELECT Year, Title_raw, Title_norm, Category_id, COUNT(*) as `num_jobs`'
                       'FROM data2 '
                       'GROUP BY Category_id', disk_engine)

In [25]:
df5.to_csv("Category_id_group_withyear.csv")

In [ ]:
df5.to_csv("Category_id_group.csv")

In [20]:
# # df8 = pd.read_sql_query('SELECT Category_id, COUNT(*) as `num_jobs`'
#                        'FROM data2 '
#                        'GROUP BY Category_id ', disk_engine)

df8 = pd.read_sql_query('SELECT Category_id, COUNT(*) as `num_jobs`'
                       'FROM data2 '
                       'GROUP BY Category_id '
                       'ORDER BY -num_jobs', disk_engine)

In [32]:
import plotly.graph_objs as go

trace = go.Pie(labels=df8.Category_id, values=df8.num_jobs)            

py.iplot([trace], filename='basic_pie_chart')

In [30]:
py.iplot([Bar(x=df8.Category_id, y=df8.num_jobs)], filename='ABCD')

In [ ]:
df8

In [ ]:
df8.to_csv("Category_id_singlegroup.csv")

In [14]:
df7 = pd.read_sql_query('SELECT DISTINCT Category_id FROM data2', disk_engine)

In [15]:
df7

                         Category_id
0                 Manufacturing Jobs
1                     Part time Jobs
2          Healthcare & Nursing Jobs
3                 Other/General Jobs
4          Accounting & Finance Jobs
5        Hospitality & Catering Jobs
6                        Retail Jobs
7                   Engineering Jobs
8                         Legal Jobs
9                         Sales Jobs
10        Logistics & Warehouse Jobs
11                        Admin Jobs
12                           IT Jobs
13                     Teaching Jobs
14              Scientific & QA Jobs
15         Trade & Construction Jobs
16            Customer Services Jobs
17            Creative & Design Jobs
18                       Travel Jobs
19                  Social work Jobs
20                           Unknown
21             HR & Recruitment Jobs
22                     Graduate Jobs
23  PR, Advertising & Marketing Jobs
24     Domestic help & Cleaning Jobs
25            Energy, Oil & Gas Jobs
26                  Maintenance Jobs
27                  Consultancy Jobs
28                     Property Jobs
29          Charity & Voluntary Jobs
30                              None
31                       Category_id

In [16]:
df7.to_csv("Category_id_distinct.csv")

In [ ]:
pd.read_sql_query('SELECT DISTINCT Year FROM data', disk_engine)

In [ ]:
tr= pd.read_csv('/Users/kamakshibansal/Documents/Belfast copy 2.csv')

In [ ]:
tr.head(34)

In [ ]:
# mymap = { '1': "Accounting & Finance Jobs"}

In [ ]:
# df["Category_id"].applymap(lambda s: mymap.get(s) if s in mymap else s)

In [ ]:
# tr["cat_name"]= tr["Category_id"].replace({1: 'Accounting & Finance Jobs'})
# tr["cat_name"]= tr["Category_id"].replace({'1': mymap})
# tr["cat_name"]= tr["Category_id"].replace("1", 'Accounting & Finance Jobs'; '2': 'IT Jobs' )

In [ ]:
tr=tr.replace({'Category_id' : { '1': 'Accounting & Finance Jobs', '2': 'IT Jobs', '3': 'Sales Jobs', '4': 'Customer Services Jobs','5': 'Engineering Jobs', '6': 'HR & Recruitment Jobs','7': 'Healthcare & Nursing Jobs','8': 'Hospitality & Catering Jobs','9': "PR, Advertising & Marketing Jobs", '10': 'Logistics & Warehouse Jobs', '11': 'Teaching Jobs','12': 'Trade & Construction Jobs','13': 'Admin Jobs','14': 'Legal Jobs','15': 'Creative & Design Jobs','16': 'Graduate Jobs','17': 'Retail Jobs','18': 'Consultancy Jobs','19': 'Manufacturing Jobs','20': 'Scientific & QA Jobs','21': 'Social work Jobs' ,'22': 'Travel Jobs','23': "Energy, Oil & Gas Jobs",'24': 'Property Jobs','25': 'Charity & Voluntary Jobs','26': 'Domestic help & Cleaning Jobs','27': 'Maintenance Jobs','28': 'Part time Jobs','29': 'Other/General Jobs','176': 'Unknown' }})

In [ ]:
tr

In [ ]:
tr= tr.drop(df.Category_id= )

In [ ]:
iris.ix[iris['sepal length (cm)'] >= 5]